---

---

<footer
  class="bg-[#226428] text-white px-5 py-10 sm:p-10 flex flex-col justify-center items-center"
>
  <section
    class="flex flex-wrap items-start justify-center sm:justify-between gap-10 max-w-[1000px] w-full border-b-[1px] pb-10"
  >
    <article class="flex flex-col gap-7 w-52">
      <h4 class="text-lg sm:text-2xl font-semibold">Notre Enterprise</h4>
      <ul class="flex flex-col gap-5">
        <li class="pl-5">
          <a class="text-sm sm:text-base text-white" href="/">Page D'Accueil</a>
        </li>
        <li class="pl-5">
          <a class="text-sm sm:text-base text-white" href="/nous">Nous</a>
        </li>
        <li class="pl-5">
          <a class="text-sm sm:text-base text-white" href="/circuits"
            >Circuits</a
          >
        </li>
        <li class="pl-5">
          <a class="text-sm sm:text-base text-white" href="/temoignages"
            >Témoignages</a
          >
        </li>
        <li class="pl-5">
          <a class="text-sm sm:text-base text-white" href="/nouvelles"
            >Nouvelles</a
          >
        </li>
        <li class="pl-5">
          <a class="text-sm sm:text-base text-white" href="/contact">Contact</a>
        </li>
      </ul>
    </article>

    <article class="flex flex-col gap-7 w-52">
      <h4 class="text-lg sm:text-2xl font-semibold">Nos Circuits</h4>
      <ul class="flex flex-col gap-5">
        <li class="pl-5">
          <a
            class="text-sm sm:text-base text-white"
            href="/circuits/a-lo-largo-de-los-andesfr">Traversee des Andes</a
          >
        </li>
        <li class="pl-5">
          <a
            class="text-sm sm:text-base text-white"
            href="/circuits/aventura-incafr">Aventure Inca</a
          >
        </li>
        <li class="pl-5">
          <a
            class="text-sm sm:text-base text-white"
            href="/circuits/del-pacifico-al-amazonasfr"
            >Pacifique à l'Amazonie</a
          >
        </li>
        <li class="pl-5">
          <a
            class="text-sm sm:text-base text-white"
            href="/circuits/corazon-del-imperio-incafr"
            >Au Coeur de l'empire Inca</a
          >
        </li>
        <li class="pl-5">
          <a
            class="text-sm sm:text-base text-white"
            href="/circuits/esencia-del-perufr">Essentiel du Pérou</a
          >
        </li>
        <li class="pl-5">
          <a
            class="text-sm sm:text-base text-white"
            href="/circuits/panorama-peruanofr">Panorama Péruvien</a
          >
        </li>
        <li class="pl-5">
          <a
            class="text-sm sm:text-base text-white"
            href="/circuits/tesoros-del-nortefr">Tresors Du Nord</a
          >
        </li>
      </ul>
    </article>

    <article class="flex flex-col gap-7 w-52">
      <h4 class="text-lg sm:text-2xl font-semibold">Autres Expériences</h4>
      <ul class="flex flex-col gap-5">
        <li class="pl-5">
          <a class="text-sm sm:text-base text-white" href="/">Page D'Accueil</a>
        </li>
        <li class="pl-5">
          <a class="text-sm sm:text-base text-white" href="/nous">Nous</a>
        </li>
        <li class="pl-5">
          <a class="text-sm sm:text-base text-white" href="/circuits"
            >Circuits</a
          >
        </li>
        <li class="pl-5">
          <a class="text-sm sm:text-base text-white" href="/temoignages"
            >Témoignages</a
          >
        </li>
        <li class="pl-5">
          <a class="text-sm sm:text-base text-white" href="/nouvelles"
            >Nouvelles</a
          >
        </li>
        <li class="pl-5">
          <a class="text-sm sm:text-base text-white" href="/contact">Contact</a>
        </li>
      </ul>
    </article>

    <article class="flex flex-col gap-7 w-52">
      <h4 class="text-lg sm:text-2xl font-semibold">Contact</h4>
      <ul class="flex flex-col gap-5">
        <li class="pl-5">
          <a class="text-sm sm:text-base text-white" href="tel:+51981310819"
            >Central: +51 981 310 819</a
          >
        </li>
        <li class="pl-5">
          <a
            class="text-sm sm:text-base text-white"
            href="https://api.whatsapp.com/send?phone=51981310819"
            >Whatsapp: +51 981 310 819</a
          >
        </li>
        <li class="pl-5">
          <a
            class="text-sm sm:text-base text-white"
            href="mailto:info@pachamamaturismo.org">info@pachamamaturismo.org</a
          >
        </li>
        <li class="pl-5">
          <a
            class="text-sm sm:text-base text-white"
            href="https://maps.app.goo.gl/aZw2yybNp3RQfGfu6"
            target="_blank"
            >Jr. Inca Garcilazo De La Vega 496, San Martín de Porres</a
          >
        </li>
        <li class="self-center">
          <a
            class="text-sm sm:text-base text-white flex flex-col items-center"
            href="/livre-des-plaintes"
          >
            <img
              class="h-12"
              src="/libro-reclamaciones.webp"
              alt="Libro de reclamaciones"
            />
            <p>Livre des plaintes</p>
          </a>
        </li>
      </ul>
    </article>
  </section>
  <section class="px-0 py-5 sm:p-10 flex flex-wrap justify-center gap-10">
    <p class="text-sm sm:text-base text-center">
      Copyright © 2024 Tous Droits Réservés / Pachamama Turismo
    </p>

    <ul class="flex justify-center flex-wrap gap-8 sm:gap-10 transition-all">
      <li>
        <a
          href="https://www.facebook.com/pachamamaturismoalternativo"
          target="_blank"
        >
          <img
            class="h-5 sm:h-10 hover:scale-90 transition-all invert-[100%] saturate-[100%] brightness-[100%] contrast-[100%]"
            src="/redes/Redes - Facebook.webp"
            alt="Facebook du Tourisme Pachamama"
          />
        </a>
      </li>
      <li>
        <a href="https://www.instagram.com/pachamama.turismo/" target="_blank">
          <img
            class="h-5 sm:h-10 hover:scale-90 transition-all invert-[100%] saturate-[100%] brightness-[100%] contrast-[100%]"
            src="/redes/Redes - Instagram.webp"
            alt="Instagram du Tourisme Pachamama"
          />
        </a>
      </li>
      <li>
        <a
          href="https://www.youtube.com/channel/UCsA3Lv9AAywqiaziSMm651Q"
          target="_blank"
        >
          <img
            class="h-5 sm:h-10 hover:scale-90 transition-all invert-[100%] saturate-[100%] brightness-[100%] contrast-[100%]"
            src="/redes/Redes - Youtube.webp"
            alt="YouTube du Tourisme Pachamama"
          />
        </a>
      </li>
      <li>
        <a href="https://www.tiktok.com/@pachamama.turismo" target="_blank">
          <img
            class="h-5 sm:h-10 hover:scale-90 transition-all invert-[100%] saturate-[100%] brightness-[100%] contrast-[100%]"
            src="/redes/Redes - Tiktok.webp"
            alt="TikTok du Tourisme Pachamama"
          />
        </a>
      </li>
      <li>
        <a
          href="https://api.whatsapp.com/send?phone=51933200365"
          target="_blank"
        >
          <img
            class="h-5 sm:h-10 hover:scale-90 transition-all transform-origin-center invert-[100%] saturate-[100%] brightness-[100%] contrast-[100%]"
            src="/redes/Redes - Whatsapp.webp"
            alt="WhatsApp du Tourisme Pachamama"
          />
        </a>
      </li>
    </ul>
  </section>
</footer>
