---

---

<footer
  class="bg-[#226428] text-white p-10 flex flex-col justify-center items-center"
>
  <section
    class="flex flex-wrap items-start justify-center sm:justify-between gap-10 max-w-[1000px] w-full border-b-[1px] pb-10"
  >
    <article class="flex flex-col gap-7 w-52">
      <h4 class="text-2xl">Notre Enterprise</h4>
      <ul class="flex flex-col gap-5">
        <li class="pl-5">
          <a class="text-base text-white" href="/">Page D'Accueil</a>
        </li>
        <li class="pl-5">
          <a class="text-base text-white" href="/nosotros">Nous</a>
        </li>
        <li class="pl-5">
          <a class="text-base text-white" href="/circuits">Circuits</a>
        </li>
        <li class="pl-5">
          <a class="text-base text-white" href="/temoignages">Témoignages</a>
        </li>
        <li class="pl-5">
          <a class="text-base text-white" href="/nouvelles">Nouvelles</a>
        </li>
        <li class="pl-5">
          <a class="text-base text-white" href="/contact">Contact</a>
        </li>
      </ul>
    </article>

    <article class="flex flex-col gap-7 w-52">
      <h4 class="text-2xl">Nos Circuits</h4>
      <ul class="flex flex-col gap-5">
        <li class="pl-5">
          <a class="text-base text-white" href="/circuitos/traversee-des-andes"
            >Traversee des Andes</a
          >
        </li>
        <li class="pl-5">
          <a class="text-base text-white" href="/circuitos/aventure-inca"
            >Aventure Inca</a
          >
        </li>
        <li class="pl-5">
          <a
            class="text-base text-white"
            href="/circuitos/pacifique-al-amazonie">Pacifique à l'Amazonie</a
          >
        </li>
        <li class="pl-5">
          <a
            class="text-base text-white"
            href="/circuitos/au-coeur-de-lempire-inca"
            >Au Coeur de l'empire Inca</a
          >
        </li>
        <li class="pl-5">
          <a class="text-base text-white" href="/circuitos/essentiel-du-perou"
            >Essentiel du Pérou</a
          >
        </li>
        <li class="pl-5">
          <a class="text-base text-white" href="/circuitos/panorama-peruvien"
            >Panorama Péruvien</a
          >
        </li>
        <li class="pl-5">
          <a class="text-base text-white" href="/circuitos/tresors-du-nord"
            >Tresors Du Nord</a
          >
        </li>
      </ul>
    </article>

    <article class="flex flex-col gap-7 w-52">
      <h4 class="text-2xl">Autres Expériences</h4>
      <ul class="flex flex-col gap-5">
        <li class="pl-5">
          <a class="text-base text-white" href="/">Page D'Accueil</a>
        </li>
        <li class="pl-5">
          <a class="text-base text-white" href="/nosotros">Nous</a>
        </li>
        <li class="pl-5">
          <a class="text-base text-white" href="/circuits">Circuits</a>
        </li>
        <li class="pl-5">
          <a class="text-base text-white" href="/temoignages">Témoignages</a>
        </li>
        <li class="pl-5">
          <a class="text-base text-white" href="/nouvelles">Nouvelles</a>
        </li>
        <li class="pl-5">
          <a class="text-base text-white" href="/contact">Contact</a>
        </li>
      </ul>
    </article>

    <article class="flex flex-col gap-7 w-52">
      <h4 class="text-2xl">Contact</h4>
      <ul class="flex flex-col gap-5">
        <li class="pl-5">
          <a class="text-base text-white" href="">Central: +51 981 310 819</a>
        </li>
        <li class="pl-5">
          <a class="text-base text-white" href="">Whatsapp: +51 981 310 819</a>
        </li>
        <li class="pl-5">
          <a
            class="text-base text-white"
            href="mailto:info@pachamamaturismo.org">info@pachamamaturismo.org</a
          >
        </li>
        <li class="pl-5">
          <a class="text-base text-white" href=""
            >Jr. Inca Garcilazo De La Vega 496, San Martín de Porres</a
          >
        </li>
        <li class="self-center">
          <a class="text-base text-white flex flex-col items-center" href="">
            <img
              class="h-12"
              src="/libro-reclamaciones.webp"
              alt="Libro de reclamaciones"
            />
            <p>Livre des plaintes</p>
          </a>
        </li>
      </ul>
    </article>
  </section>
  <section class="p-10 flex flex-wrap justify-center gap-10">
    <p class="text-center">
      Copyright © 2024 Tous Droits Réservés / Pachamama Turismo
    </p>

    <ul class="flex justify-center flex-wrap gap-10 transition-all">
      <li>
        <a
          href="https://www.facebook.com/pachamamaturismoalternativo"
          target="_blank"
        >
          <img
            class="h-10 hover:scale-90 transition-all invert-[100%] saturate-[100%] brightness-[100%] contrast-[100%]"
            src="/redes/Redes - Facebook.webp"
            alt="Facebook de Pachamama Turismo"
          />
        </a>
      </li>
      <li>
        <a href="https://www.instagram.com/pachamama.turismo/" target="_blank">
          <img
            class="h-10 hover:scale-90 transition-all invert-[100%] saturate-[100%] brightness-[100%] contrast-[100%]"
            src="/redes/Redes - Instagram.webp"
            alt="Instagram de Pachamama Turismo"
          />
        </a>
      </li>
      <li>
        <a
          href="https://www.youtube.com/channel/UCsA3Lv9AAywqiaziSMm651Q"
          target="_blank"
        >
          <img
            class="h-10 hover:scale-90 transition-all invert-[100%] saturate-[100%] brightness-[100%] contrast-[100%]"
            src="/redes/Redes - Youtube.webp"
            alt="Youtube de Pachamama Turismo"
          />
        </a>
      </li>
      <li>
        <a href="https://www.tiktok.com/@pachamama.turismo" target="_blank">
          <img
            class="h-10 hover:scale-90 transition-all invert-[100%] saturate-[100%] brightness-[100%] contrast-[100%]"
            src="/redes/Redes - Tiktok.webp"
            alt="Tiktok de Pachamama Turismo"
          />
        </a>
      </li>
      <li>
        <a
          href="https://api.whatsapp.com/send?phone=51933200365"
          target="_blank"
        >
          <img
            class="h-10 hover:scale-90 transition-all transform-origin-center invert-[100%] saturate-[100%] brightness-[100%] contrast-[100%]"
            src="/redes/Redes - Whatsapp.webp"
            alt="Whatsapp de Pachamama Turismo"
          />
        </a>
      </li>
    </ul>
  </section>
</footer>
