---

---

<form
  method="POST"
  id="formreservafr"
  class="flex flex-col gap-5 max-w-[480px] w-full"
>
  <input
    type="hidden"
    name="access_key"
    value="1028b022-e1af-4a36-85cc-f5434091106c"
  />
  <input type="hidden" name="form_name" value="Contacto Reserva FR" />
  <input type="hidden" name="subject" value="Reserva FR" />
  <input type="checkbox" name="botcheck" id="" style="display: none;" />

  <div class="flex flex-col gap-2">
    <label
      for="text-field-nombre-reserva-fr"
      class="text-lg md:text-xl font-semibold">Nom</label
    >
    <input
      id="text-field-nombre-reserva-fr"
      type="text"
      name="nombre"
      required
      class="border outline-none p-3 rounded-lg border-gray-300 focus:border-[#226428]"
      placeholder="Entrez le nom..."
    />
    <p class="text-gray-400 font-semibold italic">
      (Min. 3 caractères / pas de symboles ni de chiffres)
    </p>
  </div>

  <div class="flex flex-col gap-2">
    <label
      for="text-field-correo-reserva-fr"
      class="text-lg md:text-xl font-semibold">Mail</label
    >
    <input
      id="text-field-correo-reserva-fr"
      type="email"
      name="correo"
      required
      class="border outline-none p-3 rounded-lg border-gray-300 focus:border-[#226428]"
      placeholder="Entrez l'e-mail..."
    />
  </div>

  <div class="flex flex-col gap-2">
    <label
      for="text-field-telefono-reserva-fr"
      class="text-lg md:text-xl font-semibold">Téléphone</label
    >
    <input
      id="text-field-telefono-reserva-fr"
      type="tel"
      name="telefono"
      required
      class="border outline-none p-3 rounded-lg border-gray-300 focus:border-[#226428]"
      placeholder="Entrez le téléphone..."
    />
    <p class="text-gray-400 font-semibold italic">
      (Min. 7 chiffres / chiffres uniquement)
    </p>
  </div>

  <div class="flex flex-col gap-2">
    <label
      for="text-field-edad-reserva-fr"
      class="text-lg md:text-xl font-semibold">Âge</label
    >
    <input
      id="text-field-edad-reserva-fr"
      type="number"
      name="edad"
      min="1"
      max="100"
      required
      class="border outline-none p-3 rounded-lg border-gray-300 focus:border-[#226428]"
      placeholder="Entrez l'âge..."
    />
  </div>

  <div class="flex flex-col gap-2">
    <label
      for="text-field-pasajeros-reserva-fr"
      class="text-lg md:text-xl font-semibold">Nombre de passagers</label
    >
    <input
      id="text-field-pasajeros-reserva-fr"
      type="number"
      name="pasajeros"
      min="1"
      max="100"
      required
      class="border outline-none p-3 rounded-lg border-gray-300 focus:border-[#226428]"
      placeholder="Entrez le nombre de passagers..."
    />
  </div>

  <div class="flex flex-col gap-2">
    <label
      for="text-field-circuito-reserva-fr"
      class="text-lg md:text-xl font-semibold">Circuit</label
    >
    <select
      id="text-field-circuito-reserva-fr"
      name="circuito"
      required
      class="border outline-none p-3 rounded-lg border-gray-300 focus:border-[#226428]"
    >
      <option value="" disabled selected hidden>Sélectionnez un circuit</option>
      <option value="aventura-inca">Aventure Inca</option>
      <option value="corazon-del-imperio-inca">Cœur de l'Empire Inca</option>
      <option value="esencia-del-peru">Essentiel du Pérou</option>
      <option value="panorama-peruano">Panorama Péruvien</option>
      <option value="del-pacifico-al-amazonas">Pacifique À I'Amazonie</option>
      <option value="tesoros-del-norte">Tresors du Nord</option>
      <option value="a-lo-largo-de-los-andes">Traversee des Andes</option>
    </select>
  </div>

  <div class="flex flex-col gap-2">
    <label
      for="text-field-llegada-reserva-fr"
      class="text-lg md:text-xl font-semibold">Jour d'arrivée</label
    >
    <input
      id="text-field-llegada-reserva-fr"
      type="date"
      name="llegada"
      required
      class="border outline-none p-3 rounded-lg border-gray-300 focus:border-[#226428]"
      placeholder="Entrez le jour d'arrivée..."
    />
  </div>

  <div class="flex flex-col gap-2">
    <label
      for="text-field-estancia-reserva-fr"
      class="text-lg md:text-xl font-semibold">Jours de séjour</label
    >
    <input
      id="text-field-estancia-reserva-fr"
      type="number"
      name="estancia"
      min="1"
      max="100"
      required
      class="border outline-none p-3 rounded-lg border-gray-300 focus:border-[#226428]"
      placeholder="Entrez les jours de séjour..."
    />
  </div>

  <div class="flex flex-col gap-2">
    <label
      for="text-field-pais-reserva-fr"
      class="text-lg md:text-xl font-semibold">Pays d'origine</label
    >
    <input
      id="text-field-pais-reserva-fr"
      type="text"
      name="pais"
      required
      class="border outline-none p-3 rounded-lg border-gray-300 focus:border-[#226428]"
      placeholder="Entrez le pays d'origine..."
    />
  </div>

  <div class="flex flex-col gap-2">
    <label
      for="text-field-idioma-guia-reserva-fr"
      class="text-lg md:text-xl font-semibold">Langue du guide</label
    >
    <select
      id="text-field-idioma-guia-reserva-fr"
      name="idiomaguia"
      required
      class="border outline-none p-3 rounded-lg border-gray-300 focus:border-[#226428]"
    >
      <option value="" disabled selected hidden>Sélectionnez la langue</option>
      <option value="espanol">Espagnol</option>
      <option value="ingles">Anglais</option>
      <option value="frances">Français</option>
    </select>
  </div>

  <div class="flex flex-col gap-2">
    <label
      for="text-field-hotel-reserva-fr"
      class="text-lg md:text-xl font-semibold">Catégorie d'hôtel</label
    >
    <select
      id="text-field-hotel-reserva-fr"
      name="hotel"
      required
      class="border outline-none p-3 rounded-lg border-gray-300 focus:border-[#226428]"
    >
      <option value="" disabled selected hidden
        >Sélectionnez la catégorie</option
      >
      <option value="dos-estrellas">2 Étoiles</option>
      <option value="tres-estrellas">3 Étoiles</option>
      <option value="cuatro-estrellas">4 Étoiles</option>
      <option value="cinco-estrellas">5 Étoiles</option>
    </select>
  </div>

  <div class="flex flex-col gap-2">
    <label
      for="text-field-mensaje-reserva-fr"
      class="text-lg md:text-xl font-semibold">Message</label
    >
    <textarea
      id="text-field-mensaje-reserva-fr"
      name="mensaje"
      required
      class="border outline-none p-3 rounded-lg border-gray-300 focus:border-[#226428] h-24 resize-none"
      placeholder="Entrez un message..."></textarea>
    <p class="text-gray-400 font-semibold italic">(Min. 4 caractères)</p>
  </div>

  <button
    type="submit"
    class="border-2 border-[#226428] bg-[#226428] p-2 w-40 text-white font-semibold text-xl hover:bg-white hover:text-[#226428] transition-colors"
    >Envoyer</button
  >

  <div id="resultreservafr"></div>
</form>

<style>
  select option {
    font-weight: 600; /* Texto más grueso */
  }

  option:hover {
    background-color: #226428; /* Cambia el color del fondo al hacer hover */
    color: white; /* Cambia el color del texto al hacer hover */
  }
</style>

<script>
  const form = document.getElementById("formreservafr");
  const result = document.getElementById("resultreservafr");

  form.addEventListener("submit", function (e) {
    e.preventDefault();

    // Obtener valores de los campos
    const nombre = form.nombre.value.trim();
    const telefono = form.telefono.value.trim();
    const mensaje = form.mensaje.value.trim();

    // Validaciones
    const nombreRegex = /^[A-Za-z\s]{3,}$/;
    const telefonoRegex = /^[0-9]{7,}$/;

    if (!nombreRegex.test(nombre)) {
      result.innerHTML = `
        <p class="font-semibold italic text-red-500">
          Le nom doit comporter au moins 3 caractères et ne contenir aucun chiffre ni symbole.
        </p>`;
      return;
    }

    if (!telefonoRegex.test(telefono)) {
      result.innerHTML = `
        <p class="font-semibold italic text-red-500">
          Le téléphone doit comporter au moins 7 chiffres et ne peut contenir que des chiffres.
        </p>`;
      return;
    }

    if (mensaje.length < 4) {
      result.innerHTML = `
        <p class="font-semibold italic text-red-500">
          Le message doit comporter au moins 4 caractères.
        </p>`;
      return;
    }

    //

    const formDataReserva = new FormData(form);
    const object = Object.fromEntries(formDataReserva);
    const json = JSON.stringify(object);
    result.innerHTML = `
        <p class="font-semibold italic">
          S'il vous plaît, attendez...
        </p>`;

    fetch("https://api.web3forms.com/submit", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
        Accept: "application/json",
      },
      body: json,
    })
      .then(async (response) => {
        let json = await response.json();
        if (response.status == 200) {
          result.innerHTML = `
        <p class="font-semibold italic text-green-500">
          Envoyé correctement!
        </p>`;
        } else {
          console.log(response);
          result.innerHTML = json.message;
        }
      })
      .catch((error) => {
        console.log(error);
        result.innerHTML = "Quelque chose s'est mal passé!";
      })
      .then(function () {
        form.reset();
        setTimeout(() => {
          result.style.display = "none";
        }, 3000);
      });
  });
</script>
