---

---

<form
  method="POST"
  id="formviajeamedidafr"
  class="flex flex-col gap-5 w-full max-w-[480px]"
>
  <input
    type="hidden"
    name="access_key"
    value="1028b022-e1af-4a36-85cc-f5434091106c"
  />
  <input type="hidden" name="form_name" value="Viaje a tu medida FR" />
  <input type="hidden" name="subject" value="Viaje a tu medida FR" />
  <input type="checkbox" name="botcheck" id="" style="display: none;" />

  <div class="flex flex-col gap-2">
    <label
      for="text-field-nombre-viajeamedidafr"
      class="text-lg md:text-xl font-semibold">Nom</label
    >
    <input
      id="text-field-nombre-viajeamedidafr"
      type="text"
      name="nombre"
      required
      class="border outline-none p-3 rounded-lg border-gray-300 focus:border-[#226428]"
      placeholder="Entrez le nom..."
    />
    <p class="text-gray-400 font-semibold italic">
      (Min. 3 caractères / pas de symboles ni de chiffres)
    </p>
  </div>
  <div class="flex flex-col gap-2">
    <label
      for="text-field-apellido-viajeamedidafr"
      class="text-lg md:text-xl font-semibold">Nom de famille</label
    >
    <input
      id="text-field-apellido-viajeamedidafr"
      type="text"
      name="apellido"
      required
      class="border outline-none p-3 rounded-lg border-gray-300 focus:border-[#226428]"
      placeholder="Entrez le nom de famille..."
    />
    <p class="text-gray-400 font-semibold italic">
      (Min. 3 caractères / pas de symboles ni de chiffres)
    </p>
  </div>
  <div class="flex flex-col gap-2">
    <label
      for="text-field-telefono-viajeamedidafr"
      class="text-lg md:text-xl font-semibold">Téléphone</label
    >
    <input
      id="text-field-telefono-viajeamedidafr"
      type="tel"
      name="telefono"
      required
      class="border outline-none p-3 rounded-lg border-gray-300 focus:border-[#226428]"
      placeholder="Entrez le téléphone..."
    />
    <p class="text-gray-400 font-semibold italic">
      (Min. 7 chiffres / chiffres uniquement)
    </p>
  </div>
  <div class="flex flex-col gap-2">
    <label
      for="text-field-correo-viajeamedidafr"
      class="text-lg md:text-xl font-semibold">Mail</label
    >
    <input
      id="text-field-correo-viajeamedidafr"
      type="email"
      name="correo"
      required
      class="border outline-none p-3 rounded-lg border-gray-300 focus:border-[#226428]"
      placeholder="Entrez l'e-mail..."
    />
  </div>

  <div class="flex flex-col gap-2">
    <label
      for="text-field-estancia-viajeamedidafr"
      class="text-lg md:text-xl font-semibold">Jours de séjour</label
    >
    <input
      id="text-field-estancia-viajeamedidafr"
      type="number"
      name="estancia"
      min="1"
      max="100"
      required
      class="border outline-none p-3 rounded-lg border-gray-300 focus:border-[#226428]"
      placeholder="Entrez le nombre de jours..."
    />
  </div>

  <div class="flex flex-col gap-2">
    <label
      for="text-field-pasajeros-viajeamedidafr"
      class="text-lg md:text-xl font-semibold">Nombre de passagers</label
    >
    <input
      id="text-field-pasajeros-viajeamedidafr"
      type="number"
      name="pasajeros"
      min="1"
      max="100"
      required
      class="border outline-none p-3 rounded-lg border-gray-300 focus:border-[#226428]"
      placeholder="Entrez le nombre de passagers..."
    />
  </div>

  <div class="flex flex-col gap-2">
    <label
      for="text-field-pais-viajeamedidafr"
      class="text-lg md:text-xl font-semibold">Pays d'origine</label
    >
    <input
      id="text-field-pais-viajeamedidafr"
      type="text"
      name="pais"
      required
      class="border outline-none p-3 rounded-lg border-gray-300 focus:border-[#226428]"
      placeholder="Entrez le pays d'origine..."
    />
  </div>

  <div class="flex flex-col gap-2">
    <label
      for="text-field-llegada-viajeamedidafr"
      class="text-lg md:text-xl font-semibold">Jour d'arrivée</label
    >
    <input
      id="text-field-llegada-viajeamedidafr"
      type="date"
      name="llegada"
      required
      class="border outline-none p-3 rounded-lg border-gray-300 focus:border-[#226428]"
      placeholder="Entrez le jour d'arrivée..."
    />
  </div>

  <div class="flex flex-col gap-2">
    <label
      for="text-field-edad-viajeamedidafr"
      class="text-lg md:text-xl font-semibold">Âge</label
    >
    <input
      id="text-field-edad-viajeamedidafr"
      type="number"
      name="edad"
      min="1"
      max="100"
      required
      class="border outline-none p-3 rounded-lg border-gray-300 focus:border-[#226428]"
      placeholder="Entrez l'âge..."
    />
  </div>

  <div class="flex flex-col gap-2">
    <label
      for="text-field-idioma-guia-viajeamedidafr"
      class="text-lg md:text-xl font-semibold">Langue du guide</label
    >
    <select
      id="text-field-idioma-guia-viajeamedidafr"
      name="idiomaguia"
      required
      class="border outline-none p-3 rounded-lg border-gray-300 focus:border-[#226428]"
    >
      <option value="" disabled selected hidden>Sélectionnez la langue</option>
      <option value="espanol">Espagnol</option>
      <option value="ingles">Anglais</option>
      <option value="frances">Français</option>
    </select>
  </div>

  <div class="flex flex-col gap-2">
    <label
      for="text-field-hotel-viajeamedidafr"
      class="text-lg md:text-xl font-semibold">Catégorie d'hôtel</label
    >
    <select
      id="text-field-hotel-viajeamedidafr"
      name="hotel"
      required
      class="border outline-none p-3 rounded-lg border-gray-300 focus:border-[#226428]"
    >
      <option value="" disabled selected hidden
        >Sélectionnez la catégorie</option
      >
      <option value="dos-estrellas">2 Étoiles</option>
      <option value="tres-estrellas">3 Étoiles</option>
      <option value="cuatro-estrellas">4 Étoiles</option>
      <option value="cinco-estrellas">5 Étoiles</option>
    </select>
  </div>

  <div class="flex flex-col gap-2">
    <label
      for="text-field-transporte-viajeamedidafr"
      class="text-lg md:text-xl font-semibold">Transport</label
    >
    <select
      id="text-field-transporte-viajeamedidafr"
      name="transporte"
      required
      class="border outline-none p-3 rounded-lg border-gray-300 focus:border-[#226428]"
    >
      <option value="" disabled selected hidden
        >Sélectionnez le transport</option
      >
      <option value="privado">Privé</option>
      <option value="publico">Publique</option>
    </select>
  </div>

  <div class="flex flex-col gap-2">
    <label
      for="text-field-presupuesto-viajeamedidafr"
      class="text-lg md:text-xl font-semibold"
      >Budget estimé par personne en Euros</label
    >
    <input
      id="text-field-presupuesto-viajeamedidafr"
      type="number"
      name="presupuesto"
      min="1"
      max="10000"
      required
      class="border outline-none p-3 rounded-lg border-gray-300 focus:border-[#226428]"
      placeholder="Ingresa telefono..."
    />
  </div>

  <!-- Checkboxes de Intereses Especiales -->
  <div class="flex flex-col gap-2 mt-4">
    <label class="text-lg md:text-xl font-semibold"
      >Intérêts particuliers (vous pouvez choisir plusieurs intérêts)</label
    >

    <div>
      <input
        type="checkbox"
        id="turismo-clasico"
        name="intereses"
        value="Turismo Clásico"
      />
      <label for="turismo-clasico">Tourisme classique</label>
    </div>

    <div>
      <input
        type="checkbox"
        id="turismo-comunitario"
        name="intereses"
        value="Turismo Comunitario"
      />
      <label for="turismo-comunitario">Tourisme communautaire</label>
    </div>

    <div>
      <input
        type="checkbox"
        id="cultural-arqueologico"
        name="intereses"
        value="Cultural y Arqueológico"
      />
      <label for="cultural-arqueologico">Culturel et Archéologique</label>
    </div>

    <div>
      <input
        type="checkbox"
        id="gastronomico"
        name="intereses"
        value="Gastronómico"
      />
      <label for="gastronomico">Gastronomique</label>
    </div>

    <div>
      <input
        type="checkbox"
        id="naturaleza-ecoturismo"
        name="intereses"
        value="Naturaleza y Ecoturismo"
      />
      <label for="naturaleza-ecoturismo">Nature et écotourisme</label>
    </div>

    <div>
      <input
        type="checkbox"
        id="entretenimiento-diversion"
        name="intereses"
        value="Entretenimiento y Diversión"
      />
      <label for="entretenimiento-diversion">Divertissement et plaisir</label>
    </div>
  </div>

  <!-- Checkboxes de Destinos SUR -->
  <div class="flex flex-col gap-2 mt-4">
    <label class="text-lg md:text-xl font-semibold"
      >Destinations SUD (vous pouvez choisir plus d'une destination)</label
    >

    <div>
      <input type="checkbox" id="lima" name="destinosur" value="Lima" />
      <label for="lima">Lima</label>
    </div>

    <div>
      <input
        type="checkbox"
        id="islas-ballestas"
        name="destinosur"
        value="Islas Ballestas"
      />
      <label for="islas-ballestas">Îles Ballestas - Paracas - Ica</label>
    </div>

    <div>
      <input type="checkbox" id="nazca" name="destinosur" value="Nazca" />
      <label for="nazca">Nazca</label>
    </div>

    <div>
      <input
        type="checkbox"
        id="arequipa"
        name="destinosur"
        value="Arequipa - Cañon del Colca"
      />
      <label for="arequipa">Arequipa - Canyon de Colca</label>
    </div>

    <div>
      <input
        type="checkbox"
        id="puno"
        name="destinosur"
        value="Puno - Lago Titicaca"
      />
      <label for="puno">Puno - Lac Titicaca</label>
    </div>

    <div>
      <input
        type="checkbox"
        id="cusco"
        name="destinosur"
        value="Cusco - Machu Picchu"
      />
      <label for="cusco">Cusco - Machu Picchu</label>
    </div>
  </div>

  <!-- Checkboxes de Destinos NORTE -->
  <div class="flex flex-col gap-2 mt-4">
    <label class="text-lg md:text-xl font-semibold"
      >Destinations NORD (vous pouvez choisir plus d’une destination)</label
    >

    <div>
      <input type="checkbox" id="huaraz" name="destinonorte" value="Huaraz" />
      <label for="huaraz">Huaraz - Chaîne de montagnes blanches</label>
    </div>

    <div>
      <input
        type="checkbox"
        id="trujillo"
        name="destinonorte"
        value="Trujillo"
      />
      <label for="trujillo">Trujillo - Chanchan</label>
    </div>

    <div>
      <input
        type="checkbox"
        id="chiclayo"
        name="destinonorte"
        value="Chiclayo"
      />
      <label for="chiclayo">Chiclayo</label>
    </div>

    <div>
      <input
        type="checkbox"
        id="cajamarca"
        name="destinonorte"
        value="Cajamarca"
      />
      <label for="cajamarca">Cajamarca</label>
    </div>

    <div>
      <input
        type="checkbox"
        id="chachapoyas"
        name="destinonorte"
        value="Chachapoyas"
      />
      <label for="chachapoyas">Chachapoyas - Kuelap</label>
    </div>

    <div>
      <input
        type="checkbox"
        id="tarapoto"
        name="destinonorte"
        value="Tarapoto"
      />
      <label for="tarapoto">Tarapoto (jungle du nord)</label>
    </div>

    <div>
      <input type="checkbox" id="piura" name="destinonorte" value="Piura" />
      <label for="piura">Piura - Plages</label>
    </div>
  </div>

  <!-- Checkboxes de Destinos AMAZONIA -->
  <div class="flex flex-col gap-2 mt-4">
    <label class="text-lg md:text-xl font-semibold"
      >Destinations AMAZON (vous pouvez choisir plusieurs destinations)</label
    >

    <div>
      <input
        type="checkbox"
        id="iquitos"
        name="destinoamazonia"
        value="Iquitos"
      />
      <label for="iquitos">Iquitos</label>
    </div>

    <div>
      <input
        type="checkbox"
        id="puerto-maldonado"
        name="destinoamazonia"
        value="Puerto Maldonado"
      />
      <label for="puerto-maldonado">Puerto Maldonado - Tambopata</label>
    </div>

    <div>
      <input
        type="checkbox"
        id="chanchamayo"
        name="destinoamazonia"
        value="Chanchamayo"
      />
      <label for="chanchamayo">Chanchamayo - Jungle centrale</label>
    </div>
  </div>

  <div class="flex flex-col gap-2">
    <label
      for="text-field-bolivia-viajeamedidafr"
      class="text-lg md:text-xl font-semibold">Bolivie</label
    >
    <select
      id="text-field-bolivia-viajeamedidafr"
      name="bolivia"
      required
      class="border outline-none p-3 rounded-lg border-gray-300 focus:border-[#226428]"
    >
      <option value="" disabled selected hidden
        >Sélectionnez votre réponse</option
      >
      <option value="si">Ouais</option>
      <option value="no">Non</option>
    </select>
  </div>

  <button
    type="submit"
    class="border-2 border-[#226428] bg-[#226428] p-2 w-40 text-white font-semibold text-xl hover:bg-white hover:text-[#226428] transition-colors"
    >Envoyer</button
  >

  <div id="resultviajeamedidafr"></div>
</form>
<script>
  const form = document.getElementById("formviajeamedidafr");
  const result = document.getElementById("resultviajeamedidafr");

  form.addEventListener("submit", function (e) {
    e.preventDefault();

    //

    // Obtener valores de los campos
    const nombre = form.nombre.value.trim();
    const telefono = form.telefono.value.trim();
    const apellido = form.apellido.value.trim();
    // Validaciones
    const nombreRegex = /^[A-Za-z\s]{3,}$/;
    const apellidoRegex = /^[A-Za-z\s]{3,}$/;
    const telefonoRegex = /^[0-9]{7,}$/;

    if (!nombreRegex.test(nombre)) {
      result.innerHTML = `
        <p class="font-semibold italic text-red-500">
          Le nom doit comporter au moins 3 caractères et ne contenir aucun chiffre ni symbole.
        </p>`;
      return;
    }

    if (!apellidoRegex.test(apellido)) {
      result.innerHTML = `
        <p class="font-semibold italic text-red-500">
          Le nom de famille doit comporter au moins 3 caractères et ne contenir aucun chiffre ni symbole.
        </p>`;
      return;
    }

    if (!telefonoRegex.test(telefono)) {
      result.innerHTML = `
        <p class="font-semibold italic text-red-500">
          Le téléphone doit comporter au moins 7 chiffres et ne peut contenir que des chiffres.
        </p>`;
      return;
    }

    //

    const formData = new FormData(form);

    // INTERESES ESPECIALES

    const intereses = [];
    form
      .querySelectorAll('input[name="intereses"]:checked')
      .forEach((checkbox) => {
        intereses.push(checkbox.value);
      });

    formData.set("intereses", intereses);

    // DESTINOS SUR

    const destinosur = [];
    form
      .querySelectorAll('input[name="destinosur"]:checked')
      .forEach((checkbox) => {
        destinosur.push(checkbox.value);
      });

    formData.set("destinosur", destinosur);

    // DESTINOS NORTE

    const destinonorte = [];
    form
      .querySelectorAll('input[name="destinonorte"]:checked')
      .forEach((checkbox) => {
        destinonorte.push(checkbox.value);
      });

    formData.set("destinonorte", destinonorte);

    // DESTINOS AMAZONIA

    const destinoamazonia = [];
    form
      .querySelectorAll('input[name="destinoamazonia"]:checked')
      .forEach((checkbox) => {
        destinoamazonia.push(checkbox.value);
      });

    formData.set("destinoamazonia", destinoamazonia);

    const object = Object.fromEntries(formData);
    const json = JSON.stringify(object);
    result.innerHTML = `
        <p class="font-semibold italic">
          S'il vous plaît, attendez...
        </p>`;

    fetch("https://api.web3forms.com/submit", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
        Accept: "application/json",
      },
      body: json,
    })
      .then(async (response) => {
        let json = await response.json();
        if (response.status == 200) {
          result.innerHTML = `
        <p class="font-semibold italic text-green-500">
          Envoyé correctement!
        </p>`;
        } else {
          console.log(response);
          result.innerHTML = json.message;
        }
      })
      .catch((error) => {
        console.log(error);
        result.innerHTML = "Quelque chose s'est mal passé!";
      })
      .then(function () {
        form.reset();
        setTimeout(() => {
          result.style.display = "none";
        }, 3000);
      });
  });
</script>
