---

---

<section
  class="flex flex-col gap-10 items-center py-20 px-5 max-w-[1000px] self-center"
>
  <article
    class="max-w-[600px] lg:max-w-[1000px] w-full flex flex-col lg:flex-row items-center gap-10 lg:gap-20"
  >
    <div class="flex flex-col gap-5 lg:gap-10">
      <h2 class="text-3xl lg:text-6xl font-bold text-center lg:text-start">
        Qui sommes-nous?
      </h2>
      <p
        class="text-lg lg:text-2xl font-medium text-center lg:text-start text-pretty"
      >
        Nous sommes un opérateur de tourisme local créé en 2001 dans le but de
        promouvoir le tourisme alternatif et responsable au Pérou.
      </p>
      <p class="text-base font-bold text-center lg:text-start text-pretty">
        Nous faisons partie de la famille CIAP, une organisation d’artisans
        péruviens encourageant le développement durable, le commerce équitable
        et l’économie solidaire
      </p>
    </div>
    <img class="w-[500px] rounded-lg" src="/Nosotros.webp" alt="Nosotros" />
  </article>
  <article class="max-w-[600px] lg:max-w-[1000px] w-full">
    <p class="text-sm sm:text-base font-bold text-pretty">
      Pachamama considère l’économie solidaire et sociale comme base de travail
      et principe éthique, intégrant les valeurs du développement durable dans
      la réalisation des circuits touristiques. Nous favorisons l’échange
      interculturel entre les voyageurs et la population locale dans une
      démarche solidaire, durable et respectueuse de l’environnement. Nous nous
      efforçons d’offrir à nos clients l’opportunité de connaître des lieux et
      des communautés différentes du tourisme traditionnel grâce à nos
      programmes couvrant tout le Pérou et une partie de la Bolivie. Nous
      travaillons directement avec les communautés locales et les artisans que
      nous soutenons à travers divers projets de développement visant à
      améliorer leurs conditions de vie et celles de leur entourage. Notre
      entreprise est basée à Lima et nous travaillons avec des coordinateurs
      locaux dans chaque région : à Lima avec Pamela pour la coordination
      globale puis à Puno; Arequipa; Cusco; Trujillo, Chiclayo y Cajamarca;
      Chachapoyas; et en Bolivie. Nos années d’expérience dans le domaine du
      tourisme alternatif et responsable nous permettent d’adapter chaque
      programme à votre demande et de mettre à votre disposition la logistique
      nécessaire pour le bon déroulement de votre séjour au Pérou.
    </p>
  </article>
</section>
