---
---

<div class="w-full max-w-[1000px] relative self-center">
  <div class="swiper progress-slide-carousel swiper-container relative">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <img
          src="/hero/HERO - machu-picchu.webp"
          alt="Playa"
          class="h-52 sm:h-[500px] object-cover w-full"
          loading="lazy"
        />
      </div>
      <div class="swiper-slide">
        <img
          src="/hero/HERO - playa.webp"
          alt="Descripción de la imagen 1"
          class="h-52 sm:h-[500px] object-cover w-full"
          loading="lazy"
        />
      </div>
      <div class="swiper-slide">
        <img
          src="/hero/HERO - flamencos.webp"
          alt="Descripción de la imagen 1"
          class="h-52 sm:h-[500px] object-cover w-full"
          loading="lazy"
        />
      </div>
    </div>
    <div
      class="swiper-pagination !bottom-2 !top-auto !w-80 right-0 mx-auto bg-gray-100"
    >
    </div>
  </div>
</div>

<style>
  .swiper-wrapper {
    width: 100%;
    height: max-content !important;
    padding-bottom: 40px !important;
    -webkit-transition-timing-function: linear !important;
    transition-timing-function: linear !important;
    position: relative;
  }
  .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
    background: #226428 !important;
  }
</style>

<script>
  let swiper; // Variable para almacenar la instancia de Swiper

  // Función para inicializar Swiper
  function initializeSwiper() {
    if (swiper) {
      swiper.destroy(true, true); // Limpia cualquier instancia previa de Swiper
      swiper = null;
    }

    swiper = new Swiper(".progress-slide-carousel", {
      loop: true,
      fraction: true,
      autoplay: {
        delay: 1200,
        disableOnInteraction: false,
      },
      pagination: {
        el: ".progress-slide-carousel .swiper-pagination",
        type: "progressbar",
      },
    });
  }

  // Escucha el evento `astro:afterSwap` para reinicializar Swiper tras una transición
  window.addEventListener("astro:afterSwap", () => {
    const swiperContainer = document.querySelector(".progress-slide-carousel");
    if (swiperContainer) {
      initializeSwiper();
    }
  });

  // Inicializa Swiper al cargar la página
  if (typeof document !== "undefined") {
    initializeSwiper();
  }

  // Limpia Swiper antes de un cambio de página
  window.addEventListener("astro:beforeSwap", () => {
    if (swiper) {
      swiper.destroy(true, true);
      swiper = null;
    }
  });
</script>
