---
import LayoutFr from "../layouts/LayoutFr.astro";
import FormularioContacto from "../components/es/FormularioContacto.astro";
import Francia from "../components/es/Francia.astro";
---

<LayoutFr title="Contacto" rutaEsp="/contacto" rutaFr="/contact">
  <Francia />
  <section
    class="flex flex-col lg:flex-row gap-10 max-w-[1000px] self-center justify-center py-20 p-5"
  >
    <div class="max-w-[480px] w-full flex flex-col gap-5">
      <h2
        class="text-3xl md:text-6xl text-center lg:text-start font-bold uppercase"
      >
        Contacto
      </h2>
      <p class="text-base md:text-xl">
        Ponte en contacto con nosotros para poder resolver cualquier duda o
        consulta, estaremos gustosos de brindarte la mayor información posible.
      </p>

      <div
        class="self-center lg:self-start max-w-[300px] w-full flex flex-col text-gray-700 shadow-xl rounded-lg mt-5"
      >
        <nav
          class="flex flex-col gap-3 p-2 font-sans text-base font-normal text-center"
        >
          <a
            href="tel:+51981310819"
            class="flex font-semibold justify-center w-full p-3 leading-tight transition-all rounded-lg outline-none hover:bg-[#226428] hover:bg-opacity-50 hover:text-white focus:bg-opacity-60 active:bg-opacity-80 active:text-[#C9CE92]"
          >
            Central: (+51) 981 310 819
          </a>
          <a
            href="https://api.whatsapp.com/send?phone=51933200365"
            target="_blank"
            class="flex font-semibold justify-center w-full p-3 leading-tight transition-all rounded-lg outline-none hover:bg-[#226428] hover:bg-opacity-50 hover:text-white focus:bg-opacity-60 active:bg-opacity-80 active:text-[#C9CE92]"
          >
            Whatsapp: +51 933 200 365
          </a>
          <a
            href="mailto:info@pachamamaturismo.org"
            class="flex font-semibold justify-center w-full p-3 leading-tight transition-all rounded-lg outline-none hover:bg-[#226428] hover:bg-opacity-50 hover:text-white focus:bg-opacity-60 active:bg-opacity-80 active:text-[#C9CE92]"
          >
            info@pachamamaturismo.org
          </a>
          <a
            href="mailto:info@pachamamaturismo.org"
            class="flex font-semibold items-center w-full p-3 leading-tight transition-all rounded-lg outline-none hover:bg-[#226428] hover:bg-opacity-50 hover:text-white focus:bg-opacity-60 active:bg-opacity-80 active:text-[#C9CE92]"
          >
            Av. Dominicos Mz C, Lt 11 Praderas del Sol - San Martin de Porres
          </a>
        </nav>
      </div>
    </div>
    <FormularioContacto />
  </section>
</LayoutFr>
