---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import Footer from "../components/Footer.astro";
import ViajeAMedida from "../components/ViajeAMedida.astro";
import ScrollingLogo from "../components/ScrollingLogo.astro";
---

<Layout title="Welcome to Astro.">
  <Header />
  <Hero />

  <section
    class="w-full flex gap-[200px] justify-center items-center h-[500px] p-20"
  >
    <div class="flex flex-col items-center">
      <h2 class="text-[40px] animate-slidein">¿Por qué elegir</h2>
      <h2 class="text-[80px] text-[#226428]">Pachamama</h2>
      <h2 class="text-[64px] text-[#C9CE92]">Turismo?</h2>
    </div>
    <div class="text-2xl">
      <p>
        Pertenecemos a la familia CIAP, una organización de artesanos <br /> peruanos
        que apoya al comercio justo y la economía social.
      </p>
      <ul class="list-inside">
        <li class="indent-[30px] list-disc">
          Nuestra experiencia en el sector del turismo alternativo.
        </li>
        <li class="indent-[30px] list-disc">
          Promoveremos un turismo responsable, sostenible y alternativo en Perú.
        </li>
        <li class="indent-[30px] list-disc">
          Buscamos involucrar al viajero responsable en el desarrollo local de
          nuestros pueblos.
        </li>
      </ul>
    </div>
  </section>

  <section
    class="relative inline-block w-full h-[600px] before:content-[''] before:absolute before:w-full before:h-full before:bg-[black] before:opacity-50 before:pointer-events-none before:left-0 before:top-0"
  >
    <img
      src="amazonas-bote.webp"
      alt="Amazonas en bote"
      class="w-full h-full bg-cover object-center object-cover"
    />
    <div
      class="absolute w-full h-full flex gap-[100px] justify-center items-center text-[white] p-5 left-0 top-0"
    >
      <div class="text-center">
        <h3 class="text-6xl">Compromiso Sostenible</h3>
        <p class="text-[32px]">
          No dejes para mañana el viaje que <br /> puedes hacer hoy, conoce nuestros
          <br /> más atractivos circuitos.
        </p>
      </div>
      <iframe
        width="560"
        height="315"
        src="https://www.youtube-nocookie.com/embed/3ETVsjQngRQ?si=qrZMIOTf-lJcd_x_&controls=0"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen></iframe>
    </div>
  </section>

  <section class="flex flex-col items-center gap-20 p-20">
    <h3 class="text-6xl uppercase">Circuitos Destacados</h3>
    <section class="flex gap-10">
      <article class="relative w-[380px] h-[600px]">
        <a href="">
          <img
            class="w-full h-full bg-cover object-center object-cover"
            src="circuito-1.webp"
            alt="Circuito1"
          />
          <div
            class="absolute bg-[#226428] text-[#C9CE92] text-[28px] w-full text-center p-2.5 top-[80%]"
          >
            <h3 class="Circuits-overlay-title">Circuito1</h3>
          </div>
        </a>
      </article>
      <article class="relative w-[380px] h-[600px]">
        <a href="">
          <img
            class="w-full h-full bg-cover object-center object-cover"
            src="circuito-1.webp"
            alt="Circuito1"
          />
          <div
            class="absolute bg-[#226428] text-[#C9CE92] text-[28px] w-full text-center p-2.5 top-[80%]"
          >
            <h3 class="Circuits-overlay-title">Circuito2</h3>
          </div>
        </a>
      </article>
      <article class="relative w-[380px] h-[600px]">
        <a href="">
          <img
            class="w-full h-full bg-cover object-center object-cover"
            src="circuito-1.webp"
            alt="Circuito1"
          />
          <div
            class="absolute bg-[#226428] text-[#C9CE92] text-[28px] w-full text-center p-2.5 top-[80%]"
          >
            <h3 class="Circuits-overlay-title">Circuito3</h3>
          </div>
        </a>
      </article>
    </section>
  </section><section class="flex flex-col items-center gap-20 p-20">
    <h3 class="text-6xl uppercase">Experiencias Alternativas</h3>
    <section class="flex gap-10">
      <article class="relative w-[380px] h-[600px]">
        <a href="">
          <img
            class="w-full h-full bg-cover object-center object-cover"
            src="circuito-1.webp"
            alt="Aternativa1"
          />
          <div
            class="absolute bg-[#226428] text-[#C9CE92] text-[28px] w-full text-center p-2.5 top-[80%]"
          >
            <h3 class="Circuits-overlay-title">Alternativa1</h3>
          </div>
        </a>
      </article>
      <article class="relative w-[380px] h-[600px]">
        <a href="">
          <img
            class="w-full h-full bg-cover object-center object-cover"
            src="circuito-1.webp"
            alt="Aternativa1"
          />
          <div
            class="absolute bg-[#226428] text-[#C9CE92] text-[28px] w-full text-center p-2.5 top-[80%]"
          >
            <h3 class="Circuits-overlay-title">Alternativa2</h3>
          </div>
        </a>
      </article>
      <article class="relative w-[380px] h-[600px]">
        <a href="">
          <img
            class="w-full h-full bg-cover object-center object-cover"
            src="circuito-1.webp"
            alt="Aternativa1"
          />
          <div
            class="absolute bg-[#226428] text-[#C9CE92] text-[28px] w-full text-center p-2.5 top-[80%]"
          >
            <h3 class="Circuits-overlay-title">Alternativa3</h3>
          </div>
        </a>
      </article>
    </section>
  </section>

  <section
    class='relative w-full h-[600px] before:content-[""] before:absolute before:w-full before:h-full before:bg-[black] before:opacity-60 before:pointer-events-none before:left-0 before:top-0'
  >
    <img
      class="w-full h-full bg-cover object-center object-cover"
      src="fondo-testimonio.webp"
      alt="Machu Picchu Maravilla del mundo"
    />
    <div
      class="absolute w-full h-full flex gap-[100px] justify-center items-center text-[white] p-5 left-0 top-0"
    >
      <div class="text-center">
        <h3 class="text-6xl">Testimonios</h3>
        <p class="image-container-description">
          Mucho de los turistas quedaron <br /> fascinados, nos cuentan sus experiencias.
        </p>
      </div>
      <div class="flex flex-col gap-5">
        <p class="text-2xl text-center">
          Tout au long du séjour, nous avons apprécié la <br /> qualite et les compétences
          de nos guides ainsi que <br /> le professionnalisme de PACHAMAMA, petite
          <br /> structure souple qui sait s’adapter aux désirs de <br /> ses clients
          et leur proposer un programme riche et <br /> passionnant.
        </p>
        <h3 class="text-[32px] text-center">Christine GROS</h3>
      </div>
    </div>
  </section>

  <ScrollingLogo />
  <ViajeAMedida />
  <Footer />
</Layout>
