---
import Layout from "../layouts/Layout.astro";
import HeroNoticia from "../components/es/HeroNoticia.astro";
---

<Layout
  title="Noticias - Pachamama Turismo Alternativo"
  rutaEsp="/noticias"
  rutaFr="/nouvelles"
>
  <HeroNoticia />
  <section
    class="flex flex-col lg:flex-row gap-10 max-w-[1000px] self-center justify-center items-center py-20 px-5"
  >
    <div class="w-full flex flex-col gap-5 self-center">
      <h2 class="text-3xl lg:text-6xl font-bold uppercase text-center">
        Enterate de nuestras novedades
      </h2>
      <p
        class="text-lg lg:text-xl max-w-[600px] w-full self-center text-center"
      >
        Nos encanta interactuar con nuestros viajeros, es por ello que te
        invitamos a que nos sigas en nuestras Redes Sociales.
      </p>
      <ul
        class="flex justify-center flex-wrap sm:flex-nowrap gap-3 md:gap-10 transition-all"
      >
        <li>
          <a
            href="https://www.facebook.com/pachamamaturismoalternativo"
            target="_blank"
          >
            <img
              class="hover:scale-90 h-10 lg:h-16 transition-all"
              src="/redes/Redes - Facebook.webp"
              alt="Facebook de Pachamama Turismo"
            />
          </a>
        </li>
        <li>
          <a
            href="https://www.instagram.com/pachamama.turismo/"
            target="_blank"
          >
            <img
              class="hover:scale-90 transition-all h-10 lg:h-16"
              src="/redes/Redes - Instagram.webp"
              alt="Instagram de Pachamama Turismo"
            />
          </a>
        </li>
        <li>
          <a
            href="https://www.youtube.com/channel/UCsA3Lv9AAywqiaziSMm651Q"
            target="_blank"
          >
            <img
              class="hover:scale-90 transition-all h-10 lg:h-16"
              src="/redes/Redes - Youtube.webp"
              alt="Youtube de Pachamama Turismo"
            />
          </a>
        </li>
        <li>
          <a href="https://www.tiktok.com/@pachamama.turismo" target="_blank">
            <img
              class="hover:scale-90 transition-all h-10 lg:h-16"
              src="/redes/Redes - Tiktok.webp"
              alt="Tiktok de Pachamama Turismo"
            />
          </a>
        </li>
        <li>
          <a
            href="https://api.whatsapp.com/send?phone=51933200365"
            target="_blank"
          >
            <img
              class="hover:scale-90 transition-all h-10 lg:h-16"
              src="/redes/Redes - Whatsapp.webp"
              alt="Whatsapp de Pachamama Turismo"
            />
          </a>
        </li>
      </ul>
    </div>
  </section>

  <section
    class="max-w-[1000px] self-center flex flex-col gap-10 lg:gap-20 py-20 px-5"
  >
    <h3 class="text-3xl lg:text-6xl uppercase font-bold text-center">
      Nuestro canal de Youtube
    </h3>
    <div class="flex justify-center flex-wrap gap-10">
      <article class="max-w-[400px] flex flex-col gap-5">
        <iframe
          loading="lazy"
          controls="0"
          rel="0"
          modestbranding="1"
          playsinline="1"
          class="w-full aspect-video"
          src="https://www.youtube.com/embed/2RO57PxUcpE"
          title="découvrir le Pérou avec Pachamama"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin"
          allowfullscreen></iframe>
        <p class="text-sm lg:text-base">
          No dejes para mañana el viaje que puedes hacer hoy, conoce nuestros
          más atractivos circuitos.
        </p>
      </article>

      <article class="max-w-[400px] flex flex-col gap-5">
        <iframe
          loading="lazy"
          controls="0"
          rel="0"
          modestbranding="1"
          playsinline="1"
          class="w-full aspect-video"
          src="https://www.youtube.com/embed/Q8g1fHamJhw"
          title="Taller Artesanal Llinco Perú"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin"
          allowfullscreen></iframe>
        <p class="text-sm lg:text-base">
          Les invitamos a conocer el Taller Artesanal de Llinco Perú.
        </p>
      </article>
      <article class="max-w-[400px] flex flex-col gap-5">
        <iframe
          loading="lazy"
          controls="0"
          rel="0"
          modestbranding="1"
          playsinline="1"
          class="w-full aspect-video"
          src="https://www.youtube.com/embed/iBbYZByTDZw"
          title="Pachamama Turismo agencia de viajes"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin"
          allowfullscreen></iframe>
        <p class="text-sm lg:text-base">
          Ver el mundo con tus propios ojos siempre será mejor que solo soñar
          con ello.
        </p>
      </article>
    </div>
  </section>
</Layout>
