---
import LayoutFr from "../layouts/LayoutFr.astro";
import HeroNosotrosFr from "../components/fr/HeroNosotrosFr.astro";

const title = "Nous - Pachamama Turismo Alternativo";
const metaDescription =
  "Découvrez l'histoire de Pachamama Turismo Alternativo, une entreprise de tourisme alternatif et responsable qui favorise le développement local et la préservation de l'environnement.";
const ogImage = "/Nosotros.webp";
---

<LayoutFr
  title={title}
  description={metaDescription}
  ogImage={ogImage}
  rutaEsp="/nosotros"
  rutaFr="/nous"
>
  <HeroNosotrosFr />

  <section class="flex w-full justify-center py-20 px-5">
    <div class="max-w-[1000px] w-full flex flex-col gap-10">
      <div class="flex flex-col gap-10 items-center text-center">
        <h2 class="text-3xl lg:text-6xl font-bold uppercase">La Ciap</h2>
        <p
          class="text-lg lg:text-2xl font-medium max-w-[600px] lg:w-full text-pretty"
        >
          La famille CIAP compte 4 membres, des sociétés indépendantes dotées de
          leur propre personnalité juridique:
        </p>
      </div>
      <ul
        class="text-base font-normal flex flex-wrap justify-center gap-5 lg:gap-x-10 lg:gap-y-12"
      >
        <li class="">
          <button
            class="group before:ease max-w-[400px] min-h-[200px] relative overflow-hidden shadow-md transition-all before:absolute before:top-1/2 before:h-0 before:w-[600px] before:origin-center before:-translate-x-[300px] before:rotate-[25deg] before:bg-[#226428] before:duration-500 hover:text-white hover:shadow-[#226428] hover:before:h-[600px] hover:before:-translate-y-[200px] rounded-lg duration-500 p-3"
          >
            <p class="relative text-sm sm:text-base">
              <span class="font-bold uppercase group-hover:text-[#C9CE92]"
                >InterCarfts:</span
              >
              <span class="group-hover:text-white">
                C’est la branche commerciale de la CIAP spécialisée dans la
                vente des produits artisanaux sur la base des principes de
                commerce équitables.</span
              >
            </p>
          </button>
        </li>
        <li class="">
          <button
            class="group before:ease max-w-[400px] min-h-[200px] relative overflow-hidden shadow-md transition-all before:absolute before:top-1/2 before:h-0 before:w-[600px] before:origin-center before:-translate-x-[300px] before:rotate-[25deg] before:bg-[#226428] before:duration-500 hover:text-white hover:shadow-[#226428] hover:before:h-[600px] hover:before:-translate-y-[200px] rounded-lg duration-500 p-3"
          >
            <p class="relative text-sm sm:text-base">
              <span class="font-bold uppercase group-hover:text-[#C9CE92]"
                >La COOPAC:</span
              >
              <span class="group-hover:text-white">
                L’épargne et le crédit coopératif Artisan CIAP, c’est l’agence
                de micro crédit, une institution de micro finance qui prête et
                finance des projets aux autres membres de la CIAP, aux artisans,
                micro-entrepreneurs et particuliers.
              </span>
            </p>
          </button>
        </li>
        <li class="">
          <button
            class="group before:ease max-w-[400px] min-h-[200px] relative overflow-hidden shadow-md transition-all before:absolute before:top-1/2 before:h-0 before:w-[600px] before:origin-center before:-translate-x-[300px] before:rotate-[25deg] before:bg-[#226428] before:duration-500 hover:text-white hover:shadow-[#226428] hover:before:h-[600px] hover:before:-translate-y-[200px] rounded-lg duration-500 p-3"
          >
            <p class="relative text-sm sm:text-base text-pretty">
              <span class="font-bold uppercase group-hover:text-[#C9CE92]"
                >PACHAMAMA,</span
              >
              <span class="group-hover:text-white">
                opérateur de tourisme qui favorise le tourisme alternatif et
                responsable en proposant des programmes combinant des
                attractions traditionnelles avec des expériences communautaires,
                de l’écotourisme, du tourisme artisanal, d´aventure…
              </span>
            </p>
          </button>
        </li>
        <li class="">
          <button
            class="group before:ease max-w-[400px] min-h-[200px] relative overflow-hidden shadow-md transition-all before:absolute before:top-1/2 before:h-0 before:w-[600px] before:origin-center before:-translate-x-[300px] before:rotate-[25deg] before:bg-[#226428] before:duration-500 hover:text-white hover:shadow-[#226428] hover:before:h-[600px] hover:before:-translate-y-[200px] rounded-lg duration-500 p-3"
          >
            <p class="relative text-sm sm:text-base">
              <span class="font-bold uppercase group-hover:text-[#C9CE92]"
                >ECOSOL PERÚ,</span
              >
              <span class="group-hover:text-white"> administrant</span>
              <span class="font-bold uppercase group-hover:text-[#C9CE92]"
                >K´antu:</span
              >
              <span class="group-hover:text-white">
                la boutique de commerce équitable spécialisée dans la vente de
                l’artisanat local située à Puno dans La Casa del Corregidor.
              </span>
            </p>
          </button>
        </li>
      </ul>
    </div>
  </section>

  <section class="flex justify-center text-center py-20 px-5">
    <article class="max-w-[1000px] flex flex-col gap-5 lg:gap-10">
      <div class="flex flex-col gap-5">
        <h2 class="text-3xl lg:text-6xl font-bold uppercase">
          Responsabilité sociétale
        </h2>
        <p class="text-lg lg:text-xl font-medium text-pretty">
          La priorité de Pachamama est d’encourager la participation des
          communautés et des touristes à la préservation de l’environnement.
        </p>
      </div>
      <img
        class="rounded-lg shadow-lg"
        src="/experiencias/Experiencias - Isla de los Uros.jpg"
        alt=""
      />
    </article>
  </section>

  <section class="flex justify-center py-20 px-5">
    <article class="max-w-[1000px] flex flex-col gap-10">
      <div class="flex flex-col gap-5">
        <h3 class="text-2xl lg:text-3xl font-bold text-center">
          Le tourisme alternatif et responsable
        </h3>
        <p class="text-base lg:text-xl">
          <span class="font-bold">Le tourisme alternatif,</span> est une forme de
          tourisme durable opposée au tourisme de masse.
        </p>
        <p class="text-base lg:text-xl">
          <span class="font-bold">Quant au tourisme responsable,</span> il propose
          une offre touristique en accord avec les principes du développement durable.
        </p>
      </div>
      <div class="flex flex-col gap-5">
        <h3 class="text-xl lg:text-3xl font-bold">Notre Mission</h3>
        <p class="text-base lg:text-xl">
          La priorité de Pachamama est d’encourager les communautés et les
          touristes à participer à la protection de l’environnement et au
          développement socio économique local. Dans cette lignée nous proposons
          des circuits de tourisme alternatif et responsable prenant en compte
          les critères suivants:
        </p>
      </div>
      <div class="flex flex-col gap-5">
        <h3 class="text-xl lg:text-3xl font-bold">
          Les communautés avec qui nous travaillons
        </h3>
        <ul class="text-base lg:text-xl list-disc ml-10 text-pretty">
          <li>Communauté de Patacancha – Région de Cusco</li>
          <li>Communauté de Atuncolla – Capachica – Puno</li>
          <li>Communauté de Sibayo, Canocata – Arequipa</li>
          <li>Communauté Ashaninka San Miguel de Mariankari – Chanchamayo</li>
          <li>Communauté Baltimore – Tambopata</li>
          <li>ONG Latitud Sur – Iquitos</li>
          <li>Centre Bartolomé de las Casas – Cuzco</li>
          <li>Association Alma de Mujer, Amantani – Puno</li>
          <li>Communauté Awayllano – Taquile – Puno.</li>
        </ul>
      </div>
      <div class="flex flex-col gap-5">
        <h3 class="text-xl lg:text-3xl font-bold">Nos Actions et Projets</h3>
        <p class="text-base lg:text-xl">
          Pachamama soutient les communautés locales et les artisans à travers
          des projets de développement durable en partenariats avec des ONG et
          des institutions locales. Ces projets visent à améliorer les services
          touristiques mais aussi les conditions de vie de ces populations.
          <br />
          Voici quelques unes de nos actions:
        </p>
        <ul class="text-base lg:text-xl list-disc ml-10 text-pretty">
          <li>
            2006 : Puno – Chinchera: Construction d’une auberge avec
            l’association Sur Andino.
          </li>
          <li>
            2006: Puno – Iles Uros: Construction de toilettes écologiques avec
            l’association Chumi.
          </li>
          <li>
            Formation à l’accueil des touristes et formation culinaire –
            Rencontre gastronomique.
          </li>
          <li>
            Formation des artisans à l’accueil des touristes et aux tendances
            artisanales du marché international.
          </li>
          <li>
            Création d’un Tour Operator local dans la communauté de Sacsamarca
            en partenariat avec l’ONG française Solidaire Monde.
          </li>
          <li>
            2014 : Reforestation dans la région d’Iquitos via une participation
            à la compensation carbone en collaboration avec l’ONG Latitud Sur
          </li>
        </ul>
      </div>
    </article>
  </section>
</LayoutFr>
