---
import LayoutFr from "../layouts/LayoutFr.astro";
import FormularioReservaFr from "../components/fr/FormularioReservaFr.astro";

const title = "Réservez maintenant - Pachamama Turismo Alternativo";
const metaDescription =
  "Remplissez les informations suivantes pour faire une réservation pour le programme élu. Une fois le formulaire rempli, un de nos conseillers vous répondra vous contactera dans les plus brefs délais.";
---

<LayoutFr
  title={title}
  description={metaDescription}
  rutaEsp="/reserva"
  rutaFr="/reservation"
>
  <section
    class="flex flex-col lg:flex-row gap-10 max-w-[1000px] w-full self-center justify-center items-center lg:items-start py-20 px-5"
  >
    <div class="max-w-[480px] flex flex-col gap-5">
      <h2 class="text-3xl md:text-6xl font-bold uppercase">
        Réservez maintenant
      </h2>
      <p class="text-lg md:text-xl font-semibold">
        Remplissez les informations suivantes pour faire une réservation pour le
        programme élu.
      </p>
      <p class="text-base">
        Une fois le formulaire rempli, un de nos conseillers vous répondra vous
        contactera dans les plus brefs délais.
      </p>
    </div>
    <FormularioReservaFr />
  </section>
</LayoutFr>
