---
import LayoutFr from "../layouts/LayoutFr.astro";
import Francia from "../components/es/Francia.astro";
import FormularioReservaFr from "../components/fr/FormularioReservaFr.astro";
---

<LayoutFr title="Reserva" rutaEsp="/reserva" rutaFr="/réservation">
  <Francia />
  <section
    class="flex flex-col lg:flex-row gap-10 max-w-[1000px] self-center justify-center py-20 px-5"
  >
    <div class="max-w-[480px] flex flex-col gap-5">
      <h2 class="text-3xl md:text-6xl font-bold uppercase">Reserva Ya</h2>
      <p class="text-lg md:text-xl font-semibold">
        Rellena los siguiente datos, para realizar una reserva del Programa
        elegido.
      </p>
      <p class="text-base">
        Una vez que rellene el formulario, uno de nuestros asesores se
        comunicará con usted a la brevedad posible.
      </p>
    </div>
    <FormularioReservaFr />
  </section>
</LayoutFr>
