---
import FormularioReserva from "../components/es/FormularioReserva.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Reserva - Pachamama Turismo Alternativo"
  rutaEsp="/reserva"
  rutaFr="/reservation"
>
  <section
    class="flex flex-col lg:flex-row gap-10 max-w-[1000px] w-full self-center justify-center items-center lg:items-start py-20 px-5"
  >
    <div class="max-w-[480px] flex flex-col gap-5">
      <h2 class="text-3xl md:text-6xl font-bold uppercase">Reserva Ya</h2>
      <p class="text-lg md:text-xl font-semibold">
        Rellena los siguiente datos, para realizar una reserva del Programa
        elegido.
      </p>
      <p class="text-base">
        Una vez que rellene el formulario, uno de nuestros asesores se
        comunicará con usted a la brevedad posible.
      </p>
    </div>
    <FormularioReserva />
  </section>
</Layout>
