---

---

<form
  method="POST"
  id="formlibrodereclamaciones"
  class="flex flex-col gap-5 w-full max-w-[480px]"
>
  <input
    type="hidden"
    name="access_key"
    value="1028b022-e1af-4a36-85cc-f5434091106c"
  />
  <input
    type="hidden"
    name="form_name"
    value="Libro de Reclamaciones Pachamama"
  />
  <input type="hidden" name="subject" value="Libro de Reclamaciones" />
  <input type="checkbox" name="botcheck" id="" style="display: none;" />

  <div class="flex flex-col gap-2">
    <label
      for="text-field-consulta-reclamaciones"
      class="text-lg md:text-xl font-semibold">Tipo de Consulta</label
    >
    <select
      id="text-field-consulta-reclamaciones"
      name="consulta"
      required
      class="border outline-none p-3 rounded-lg border-gray-300 focus:border-[#226428]"
    >
      <option value="" disabled selected hidden>Selecciona una opción</option>
      <option value="reclamo">Reclamo</option>
      <option value="queja">Queja</option>
    </select>
  </div>

  <div class="flex flex-col gap-2">
    <label
      for="text-field-nombre-reclamaciones"
      class="text-lg md:text-xl font-semibold">Nombre</label
    >
    <input
      id="text-field-nombre-reclamaciones"
      type="text"
      name="nombre"
      required
      class="border outline-none p-3 rounded-lg border-gray-300 focus:border-[#226428]"
      placeholder="Ingresa nombre..."
    />
    <p class="text-gray-400 font-semibold italic">
      (Mín. 3 caracteres / no símbolos ni números)
    </p>
  </div>
  <div class="flex flex-col gap-2">
    <label
      for="text-field-correo-reclamaciones"
      class="text-lg md:text-xl font-semibold">Correo</label
    >
    <input
      id="text-field-correo-reclamaciones"
      type="email"
      name="correo"
      required
      class="border outline-none p-3 rounded-lg border-gray-300 focus:border-[#226428]"
      placeholder="Ingresa correo..."
    />
  </div>

  <div class="flex flex-col gap-2">
    <label
      for="text-field-telefono-reclamaciones"
      class="text-lg md:text-xl font-semibold">Teléfono</label
    >
    <input
      id="text-field-telefono-reclamaciones"
      type="tel"
      name="telefono"
      required
      class="border outline-none p-3 rounded-lg border-gray-300 focus:border-[#226428]"
      placeholder="Ingresa telefono..."
    />
    <p class="text-gray-400 font-semibold italic">
      (Mín. 7 digitos / solo números)
    </p>
  </div>

  <div class="flex flex-col gap-2">
    <label
      for="text-field-edad-reclamaciones"
      class="text-lg md:text-xl font-semibold">Edad</label
    >
    <input
      id="text-field-edad-reclamaciones"
      type="number"
      name="edad"
      min="1"
      max="100"
      required
      class="border outline-none p-3 rounded-lg border-gray-300 focus:border-[#226428]"
      placeholder="Ingresa edad..."
    />
  </div>

  <div class="flex flex-col gap-2">
    <label
      for="text-field-pais-reclamaciones"
      class="text-lg md:text-xl font-semibold">País de origen</label
    >
    <input
      id="text-field-pais-reclamaciones"
      type="text"
      name="pais"
      required
      class="border outline-none p-3 rounded-lg border-gray-300 focus:border-[#226428]"
      placeholder="Ingresa pais de origen..."
    />
  </div>

  <div class="flex flex-col gap-2">
    <label
      for="text-field-mensaje-reclamaciones"
      class="text-lg md:text-xl font-semibold">Mensaje</label
    >
    <textarea
      id="text-field-mensaje-reclamaciones"
      name="mensaje"
      required
      class="border outline-none p-3 rounded-lg border-gray-300 focus:border-[#226428] h-24 resize-none"
      placeholder="Ingresa mensaje..."></textarea>
    <p class="text-gray-400 font-semibold italic">(Mín. 4 caracteres)</p>
  </div>

  <div class="flex items-start gap-2">
    <input
      type="checkbox"
      id="declaracion"
      name="declaracion"
      required
      class="mt-1"
    />
    <label for="declaracion" class="text-sm">
      Declaro ser el titular del servicio y acepto el contenido del presente
      formulario manifestando bajo Declaración Jurada la veracidad de los hechos
      descritos. Pachamama Turismo Alternativo se reserva el derecho de tomar
      las acciones legales pertinentes en caso de verificarse la falsedad o
      inexactitud de las declaraciones antes realizadas.
    </label>
  </div>

  <button
    type="submit"
    class="border-2 border-[#226428] bg-[#226428] p-2 w-40 text-white font-semibold text-xl hover:bg-white hover:text-[#226428] transition-colors"
    >Enviar</button
  >

  <div id="resultlibrodereclamaciones"></div>
</form>
<script>
  const form = document.getElementById("formlibrodereclamaciones");
  const result = document.getElementById("resultlibrodereclamaciones");

  form.addEventListener("submit", function (e) {
    e.preventDefault();

    // Validar si el checkbox está marcado
    const declaracionCheckbox = form.declaracion;
    if (!declaracionCheckbox.checked) {
      result.innerHTML = `
        <p class="font-semibold italic text-red-500">
          Debes aceptar la declaración jurada antes de enviar el formulario.
        </p>`;
      return;
    }

    // Obtener valores de los campos
    const nombre = form.nombre.value.trim();
    const telefono = form.telefono.value.trim();
    const mensaje = form.mensaje.value.trim();

    // Validaciones
    const nombreRegex = /^[A-Za-z\s]{3,}$/;
    const telefonoRegex = /^[0-9]{7,}$/;

    if (!nombreRegex.test(nombre)) {
      result.innerHTML = `
      <p class="font-semibold italic text-red-500">
        El nombre debe tener al menos 3 caracteres y no contener números o símbolos.
      </p>`;
      return;
    }

    if (!telefonoRegex.test(telefono)) {
      result.innerHTML = `
      <p class="font-semibold italic text-red-500">
        El teléfono debe tener al menos 7 dígitos y solo puede contener números.
      </p>`;
      return;
    }

    if (mensaje.length < 4) {
      result.innerHTML = `
      <p class="font-semibold italic text-red-500">
        El mensaje debe tener al menos 4 caracteres.
      </p>`;
      return;
    }

    //

    const formData = new FormData(form);
    const object = Object.fromEntries(formData);
    const json = JSON.stringify(object);
    result.innerHTML = `
      <p class="font-semibold italic">
        Espere por favor...
      </p>`;

    fetch("https://api.web3forms.com/submit", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
        Accept: "application/json",
      },
      body: json,
    })
      .then(async (response) => {
        let json = await response.json();
        if (response.status == 200) {
          result.innerHTML = `
      <p class="font-semibold italic text-green-500">
        Enviado correctamente!
      </p>`;
        } else {
          console.log(response);
          result.innerHTML = json.message;
        }
      })
      .catch((error) => {
        console.log(error);
        result.innerHTML = "¡Algo salió mal!";
      })
      .then(function () {
        form.reset();
        setTimeout(() => {
          result.style.display = "none";
        }, 3000);
      });
  });
</script>
