---

---

<form
  method="POST"
  id="formviajeamedida"
  class="flex flex-col gap-5 w-full max-w-[480px]"
>
  <input
    type="hidden"
    name="access_key"
    value="1028b022-e1af-4a36-85cc-f5434091106c"
  />
  <input type="hidden" name="form_name" value="Viaje a tu medida" />
  <input type="hidden" name="subject" value="Viaje a tu medida" />
  <input type="checkbox" name="botcheck" id="" style="display: none;" />

  <div class="flex flex-col gap-2">
    <label
      for="text-field-nombre-viajeamedida"
      class="text-lg md:text-xl font-semibold">Nombre</label
    >
    <input
      id="text-field-nombre-viajeamedida"
      type="text"
      name="nombre"
      required
      class="border outline-none p-3 rounded-lg border-gray-300 focus:border-[#226428]"
      placeholder="Ingresa nombre..."
    />
    <p class="text-gray-400 font-semibold italic">
      (Mín. 3 caracteres / no símbolos ni números)
    </p>
  </div>
  <div class="flex flex-col gap-2">
    <label
      for="text-field-apellido-viajeamedida"
      class="text-lg md:text-xl font-semibold">Apellido</label
    >
    <input
      id="text-field-apellido-viajeamedida"
      type="text"
      name="apellido"
      required
      class="border outline-none p-3 rounded-lg border-gray-300 focus:border-[#226428]"
      placeholder="Ingresa apellido..."
    />
    <p class="text-gray-400 font-semibold italic">
      (Mín. 3 caracteres / no símbolos ni números)
    </p>
  </div>
  <div class="flex flex-col gap-2">
    <label
      for="text-field-telefono-viajeamedida"
      class="text-lg md:text-xl font-semibold">Teléfono</label
    >
    <input
      id="text-field-telefono-viajeamedida"
      type="tel"
      name="telefono"
      required
      class="border outline-none p-3 rounded-lg border-gray-300 focus:border-[#226428]"
      placeholder="Ingresa telefono..."
    />
    <p class="text-gray-400 font-semibold italic">
      (Mín. 7 digitos / solo números)
    </p>
  </div>
  <div class="flex flex-col gap-2">
    <label
      for="text-field-correo-viajeamedida"
      class="text-lg md:text-xl font-semibold">Correo</label
    >
    <input
      id="text-field-correo-viajeamedida"
      type="email"
      name="correo"
      required
      class="border outline-none p-3 rounded-lg border-gray-300 focus:border-[#226428]"
      placeholder="Ingresa correo..."
    />
  </div>

  <div class="flex flex-col gap-2">
    <label
      for="text-field-estancia-viajeamedida"
      class="text-lg md:text-xl font-semibold">Días de estancia</label
    >
    <input
      id="text-field-estancia-viajeamedida"
      type="number"
      name="estancia"
      min="1"
      max="100"
      required
      class="border outline-none p-3 rounded-lg border-gray-300 focus:border-[#226428]"
      placeholder="Ingresa el número de dias..."
    />
  </div>

  <div class="flex flex-col gap-2">
    <label
      for="text-field-pasajeros-viajeamedida"
      class="text-lg md:text-xl font-semibold">Número de pasajeros</label
    >
    <input
      id="text-field-pasajeros-viajeamedida"
      type="number"
      name="pasajeros"
      min="1"
      max="100"
      required
      class="border outline-none p-3 rounded-lg border-gray-300 focus:border-[#226428]"
      placeholder="Ingresa el número de pasajeros..."
    />
  </div>

  <div class="flex flex-col gap-2">
    <label
      for="text-field-pais-viajeamedida"
      class="text-lg md:text-xl font-semibold">País de origen</label
    >
    <input
      id="text-field-pais-viajeamedida"
      type="text"
      name="pais"
      required
      class="border outline-none p-3 rounded-lg border-gray-300 focus:border-[#226428]"
      placeholder="Ingresa nombre..."
    />
  </div>

  <div class="flex flex-col gap-2">
    <label
      for="text-field-llegada-viajeamedida"
      class="text-lg md:text-xl font-semibold">Día de llegada</label
    >
    <input
      id="text-field-llegada-viajeamedida"
      type="date"
      name="llegada"
      required
      class="border outline-none p-3 rounded-lg border-gray-300 focus:border-[#226428]"
      placeholder="Ingresa el número de pasajeros..."
    />
  </div>

  <div class="flex flex-col gap-2">
    <label
      for="text-field-edad-viajeamedida"
      class="text-lg md:text-xl font-semibold">Edad</label
    >
    <input
      id="text-field-edad-viajeamedida"
      type="number"
      name="edad"
      min="1"
      max="100"
      required
      class="border outline-none p-3 rounded-lg border-gray-300 focus:border-[#226428]"
      placeholder="Ingresa telefono..."
    />
  </div>

  <div class="flex flex-col gap-2">
    <label
      for="text-field-idioma-guia-viajeamedida"
      class="text-lg md:text-xl font-semibold">Idioma del Guía</label
    >
    <select
      id="text-field-idioma-guia-viajeamedida"
      name="idiomaguia"
      required
      class="border outline-none p-3 rounded-lg border-gray-300 focus:border-[#226428]"
    >
      <option value="" disabled selected hidden>Selecciona idioma</option>
      <option value="espanol">Español</option>
      <option value="ingles">Inglés</option>
      <option value="frances">Francés</option>
    </select>
  </div>

  <div class="flex flex-col gap-2">
    <label
      for="text-field-hotel-viajeamedida"
      class="text-lg md:text-xl font-semibold">Categoría del Hotel</label
    >
    <select
      id="text-field-hotel-viajeamedida"
      name="hotel"
      required
      class="border outline-none p-3 rounded-lg border-gray-300 focus:border-[#226428]"
    >
      <option value="" disabled selected hidden>Selecciona categoría</option>
      <option value="dos-estrellas">2 Estrellas</option>
      <option value="tres-estrellas">3 Estrellas</option>
      <option value="cuatro-estrellas">4 Estrellas</option>
      <option value="cinco-estrellas">5 Estrellas</option>
    </select>
  </div>

  <div class="flex flex-col gap-2">
    <label
      for="text-field-transporte-viajeamedida"
      class="text-lg md:text-xl font-semibold">Transporte</label
    >
    <select
      id="text-field-transporte-viajeamedida"
      name="transporte"
      required
      class="border outline-none p-3 rounded-lg border-gray-300 focus:border-[#226428]"
    >
      <option value="" disabled selected hidden>Selecciona transporte</option>
      <option value="privado">Privado</option>
      <option value="publico">Publico</option>
    </select>
  </div>

  <div class="flex flex-col gap-2">
    <label
      for="text-field-presupuesto-viajeamedida"
      class="text-lg md:text-xl font-semibold"
      >Presupuesto estimado por persona en Euros</label
    >
    <input
      id="text-field-presupuesto-viajeamedida"
      type="number"
      name="presupuesto"
      min="1"
      max="10000"
      required
      class="border outline-none p-3 rounded-lg border-gray-300 focus:border-[#226428]"
      placeholder="Ingresa telefono..."
    />
  </div>

  <!-- Checkboxes de Intereses Especiales -->
  <div class="flex flex-col gap-2 mt-4">
    <label class="text-lg md:text-xl font-semibold"
      >Intereses Especiales (puede escoger más de un interés)</label
    >

    <div>
      <input
        type="checkbox"
        id="turismo-clasico"
        name="intereses"
        value="Turismo Clásico"
      />
      <label for="turismo-clasico">Turismo Clásico</label>
    </div>

    <div>
      <input
        type="checkbox"
        id="turismo-comunitario"
        name="intereses"
        value="Turismo Comunitario"
      />
      <label for="turismo-comunitario">Turismo Comunitario</label>
    </div>

    <div>
      <input
        type="checkbox"
        id="cultural-arqueologico"
        name="intereses"
        value="Cultural y Arqueológico"
      />
      <label for="cultural-arqueologico">Cultural y Arqueológico</label>
    </div>

    <div>
      <input
        type="checkbox"
        id="gastronomico"
        name="intereses"
        value="Gastronómico"
      />
      <label for="gastronomico">Gastronómico</label>
    </div>

    <div>
      <input
        type="checkbox"
        id="naturaleza-ecoturismo"
        name="intereses"
        value="Naturaleza y Ecoturismo"
      />
      <label for="naturaleza-ecoturismo">Naturaleza y Ecoturismo</label>
    </div>

    <div>
      <input
        type="checkbox"
        id="entretenimiento-diversion"
        name="intereses"
        value="Entretenimiento y Diversión"
      />
      <label for="entretenimiento-diversion">Entretenimiento y Diversión</label>
    </div>
  </div>

  <!-- Checkboxes de Destinos SUR -->
  <div class="flex flex-col gap-2 mt-4">
    <label class="text-lg md:text-xl font-semibold"
      >Destinos SUR (puede escoger más de un destino)</label
    >

    <div>
      <input type="checkbox" id="lima" name="destinosur" value="Lima" />
      <label for="lima">Lima</label>
    </div>

    <div>
      <input
        type="checkbox"
        id="islas-ballestas"
        name="destinosur"
        value="Islas Ballestas"
      />
      <label for="islas-ballestas">Islas Ballestas - Paracas - Ica</label>
    </div>

    <div>
      <input type="checkbox" id="nazca" name="destinosur" value="Nazca" />
      <label for="nazca">Nazca</label>
    </div>

    <div>
      <input
        type="checkbox"
        id="arequipa"
        name="destinosur"
        value="Arequipa - Cañon del Colca"
      />
      <label for="arequipa">Arequipa - Cañon del Colca</label>
    </div>

    <div>
      <input
        type="checkbox"
        id="puno"
        name="destinosur"
        value="Puno - Lago Titicaca"
      />
      <label for="puno">Puno - Lago Titicaca</label>
    </div>

    <div>
      <input
        type="checkbox"
        id="cusco"
        name="destinosur"
        value="Cusco - Machu Picchu"
      />
      <label for="cusco">Cusco - Machu Picchu</label>
    </div>
  </div>

  <!-- Checkboxes de Destinos NORTE -->
  <div class="flex flex-col gap-2 mt-4">
    <label class="text-lg md:text-xl font-semibold"
      >Destinos NORTE (puede escoger más de un destino)</label
    >

    <div>
      <input type="checkbox" id="huaraz" name="destinonorte" value="Huaraz" />
      <label for="huaraz">Huaraz - Cordillera Blanca</label>
    </div>

    <div>
      <input
        type="checkbox"
        id="trujillo"
        name="destinonorte"
        value="Trujillo"
      />
      <label for="trujillo">Trujillo - Chanchan</label>
    </div>

    <div>
      <input
        type="checkbox"
        id="chiclayo"
        name="destinonorte"
        value="Chiclayo"
      />
      <label for="chiclayo">Chiclayo</label>
    </div>

    <div>
      <input
        type="checkbox"
        id="cajamarca"
        name="destinonorte"
        value="Cajamarca"
      />
      <label for="cajamarca">Cajamarca</label>
    </div>

    <div>
      <input
        type="checkbox"
        id="chachapoyas"
        name="destinonorte"
        value="Chachapoyas"
      />
      <label for="chachapoyas">Chachapoyas - Kuelap</label>
    </div>

    <div>
      <input
        type="checkbox"
        id="tarapoto"
        name="destinonorte"
        value="Tarapoto"
      />
      <label for="tarapoto">Tarapoto (selva norte)</label>
    </div>

    <div>
      <input type="checkbox" id="piura" name="destinonorte" value="Piura" />
      <label for="piura">Piura - Playas</label>
    </div>
  </div>

  <!-- Checkboxes de Destinos AMAZONIA -->
  <div class="flex flex-col gap-2 mt-4">
    <label class="text-lg md:text-xl font-semibold"
      >Destinos AMAZONIA (puede escoger más de un destino)</label
    >

    <div>
      <input
        type="checkbox"
        id="iquitos"
        name="destinoamazonia"
        value="Iquitos"
      />
      <label for="iquitos">Iquitos</label>
    </div>

    <div>
      <input
        type="checkbox"
        id="puerto-maldonado"
        name="destinoamazonia"
        value="Puerto Maldonado"
      />
      <label for="puerto-maldonado">Puerto Maldonado - Tambopata</label>
    </div>

    <div>
      <input
        type="checkbox"
        id="chanchamayo"
        name="destinoamazonia"
        value="Chanchamayo"
      />
      <label for="chanchamayo">Chanchamayo - Selva Central</label>
    </div>
  </div>

  <div class="flex flex-col gap-2">
    <label
      for="text-field-bolivia-viajeamedida"
      class="text-lg md:text-xl font-semibold">Bolivia</label
    >
    <select
      id="text-field-bolivia-viajeamedida"
      name="bolivia"
      required
      class="border outline-none p-3 rounded-lg border-gray-300 focus:border-[#226428]"
    >
      <option value="" disabled selected hidden>Selecciona tu respuesta</option>
      <option value="si">Si</option>
      <option value="no">No</option>
    </select>
  </div>

  <button
    type="submit"
    class="border-2 border-[#226428] bg-[#226428] p-2 w-40 text-white font-semibold text-xl hover:bg-white hover:text-[#226428] transition-colors"
    >Enviar</button
  >

  <div id="resultviajeamedida"></div>
</form>
<script>
  const form = document.getElementById("formviajeamedida");
  const result = document.getElementById("resultviajeamedida");

  form.addEventListener("submit", function (e) {
    e.preventDefault();

    //

    // Obtener valores de los campos
    const nombre = form.nombre.value.trim();
    const telefono = form.telefono.value.trim();
    const apellido = form.apellido.value.trim();
    // Validaciones
    const nombreRegex = /^[A-Za-z\s]{3,}$/;
    const apellidoRegex = /^[A-Za-z\s]{3,}$/;
    const telefonoRegex = /^[0-9]{7,}$/;

    if (!nombreRegex.test(nombre)) {
      result.innerHTML = `
        <p class="font-semibold italic text-red-500">
          El nombre debe tener al menos 3 caracteres y no contener números o símbolos.
        </p>`;
      return;
    }

    if (!apellidoRegex.test(apellido)) {
      result.innerHTML = `
        <p class="font-semibold italic text-red-500">
          El apellido debe tener al menos 3 caracteres y no contener números o símbolos.
        </p>`;
      return;
    }

    if (!telefonoRegex.test(telefono)) {
      result.innerHTML = `
        <p class="font-semibold italic text-red-500">
          El teléfono debe tener al menos 7 dígitos y solo puede contener números.
        </p>`;
      return;
    }

    const formData = new FormData(form);

    // INTERESES ESPECIALES

    const intereses = [];
    form
      .querySelectorAll('input[name="intereses"]:checked')
      .forEach((checkbox) => {
        intereses.push(checkbox.value);
      });

    formData.set("intereses", intereses);

    // DESTINOS SUR

    const destinosur = [];
    form
      .querySelectorAll('input[name="destinosur"]:checked')
      .forEach((checkbox) => {
        destinosur.push(checkbox.value);
      });

    formData.set("destinosur", destinosur);

    // DESTINOS NORTE

    const destinonorte = [];
    form
      .querySelectorAll('input[name="destinonorte"]:checked')
      .forEach((checkbox) => {
        destinonorte.push(checkbox.value);
      });

    formData.set("destinonorte", destinonorte);

    // DESTINOS AMAZONIA

    const destinoamazonia = [];
    form
      .querySelectorAll('input[name="destinoamazonia"]:checked')
      .forEach((checkbox) => {
        destinoamazonia.push(checkbox.value);
      });

    formData.set("destinoamazonia", destinoamazonia);

    const object = Object.fromEntries(formData);
    const json = JSON.stringify(object);
    result.innerHTML = `
        <p class="font-semibold italic">
          Espere por favor...
        </p>`;

    fetch("https://api.web3forms.com/submit", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
        Accept: "application/json",
      },
      body: json,
    })
      .then(async (response) => {
        let json = await response.json();
        if (response.status == 200) {
          result.innerHTML = `
        <p class="font-semibold italic text-green-500">
          Enviado correctamente!
        </p>`;
        } else {
          console.log(response);
          result.innerHTML = json.message;
        }
      })
      .catch((error) => {
        console.log(error);
        result.innerHTML = "¡Algo salió mal!";
      })
      .then(function () {
        form.reset();
        setTimeout(() => {
          result.style.display = "none";
        }, 3000);
      });
  });
</script>
