---

---

<form
  method="POST"
  id="formviajeamedida"
  class="flex flex-col gap-5 w-full max-w-[480px]"
>
  <input
    type="hidden"
    name="access_key"
    value="1028b022-e1af-4a36-85cc-f5434091106c"
  />
  <input type="hidden" name="form_name" value="Viaje a tu medida" />
  <input type="hidden" name="subject" value="Viaje a tu medida" />
  <input type="checkbox" name="botcheck" id="" style="display: none;" />

  <div class="flex flex-col gap-2">
    <label
      for="text-field-nombre-viajeamedida"
      class="text-lg md:text-xl font-semibold">Nombre</label
    >
    <input
      id="text-field-nombre-viajeamedida"
      type="text"
      name="nombre"
      required
      class="border outline-none p-3 rounded-lg border-gray-300 focus:border-[#226428]"
      placeholder="Ingresa nombre..."
    />
    <p class="text-gray-400 font-semibold italic">
      (Mín. 3 caracteres / no símbolos ni números)
    </p>
  </div>
  <div class="flex flex-col gap-2">
    <label
      for="text-field-apellido-viajeamedida"
      class="text-lg md:text-xl font-semibold">Apellido</label
    >
    <input
      id="text-field-apellido-viajeamedida"
      type="text"
      name="apellido"
      required
      class="border outline-none p-3 rounded-lg border-gray-300 focus:border-[#226428]"
      placeholder="Ingresa nombre..."
    />
    <p class="text-gray-400 font-semibold italic">
      (Mín. 3 caracteres / no símbolos ni números)
    </p>
  </div>
  <div class="flex flex-col gap-2">
    <label
      for="text-field-telefono-viajeamedida"
      class="text-lg md:text-xl font-semibold">Teléfono</label
    >
    <input
      id="text-field-telefono-viajeamedida"
      type="tel"
      name="telefono"
      required
      class="border outline-none p-3 rounded-lg border-gray-300 focus:border-[#226428]"
      placeholder="Ingresa telefono..."
    />
    <p class="text-gray-400 font-semibold italic">
      (Mín. 7 digitos / solo números)
    </p>
  </div>
  <div class="flex flex-col gap-2">
    <label
      for="text-field-correo-viajeamedida"
      class="text-lg md:text-xl font-semibold">Correo</label
    >
    <input
      id="text-field-correo-viajeamedida"
      type="email"
      name="correo"
      required
      class="border outline-none p-3 rounded-lg border-gray-300 focus:border-[#226428]"
      placeholder="Ingresa correo..."
    />
  </div>

  <div class="flex flex-col gap-2">
    <label
      for="text-field-estancia-viajeamedida"
      class="text-lg md:text-xl font-semibold">Días de estancia</label
    >
    <input
      id="text-field-estancia-viajeamedida"
      type="number"
      name="estancia"
      min="1"
      max="100"
      required
      class="border outline-none p-3 rounded-lg border-gray-300 focus:border-[#226428]"
      placeholder="Ingresa el número de dias..."
    />
  </div>

  <div class="flex flex-col gap-2">
    <label
      for="text-field-pasajeros-viajeamedida"
      class="text-lg md:text-xl font-semibold">Número de pasajeros</label
    >
    <input
      id="text-field-pasajeros-viajeamedida"
      type="number"
      name="pasajeros"
      min="1"
      max="100"
      required
      class="border outline-none p-3 rounded-lg border-gray-300 focus:border-[#226428]"
      placeholder="Ingresa el número de pasajeros..."
    />
  </div>

  <div class="flex flex-col gap-2">
    <label
      for="text-field-pais-viajeamedida"
      class="text-lg md:text-xl font-semibold">País de origen</label
    >
    <input
      id="text-field-pais-viajeamedida"
      type="text"
      name="pais"
      required
      class="border outline-none p-3 rounded-lg border-gray-300 focus:border-[#226428]"
      placeholder="Ingresa nombre..."
    />
  </div>

  <div class="flex flex-col gap-2">
    <label
      for="text-field-llegada-viajeamedida"
      class="text-lg md:text-xl font-semibold">Día de llegada</label
    >
    <input
      id="text-field-llegada-viajeamedida"
      type="date"
      name="llegada"
      required
      class="border outline-none p-3 rounded-lg border-gray-300 focus:border-[#226428]"
      placeholder="Ingresa el número de pasajeros..."
    />
  </div>

  <div class="flex flex-col gap-2">
    <label
      for="text-field-edad-viajeamedida"
      class="text-lg md:text-xl font-semibold">Edad</label
    >
    <input
      id="text-field-edad-viajeamedida"
      type="number"
      name="edad"
      min="1"
      max="100"
      required
      class="border outline-none p-3 rounded-lg border-gray-300 focus:border-[#226428]"
      placeholder="Ingresa telefono..."
    />
  </div>

  <div class="flex flex-col gap-2">
    <label
      for="text-field-idioma-guia-viajeamedida"
      class="text-lg md:text-xl font-semibold">Idioma del Guía</label
    >
    <select
      id="text-field-idioma-guia-viajeamedida"
      name="idiomaguia"
      required
      class="border outline-none p-3 rounded-lg border-gray-300 focus:border-[#226428]"
    >
      <option value="" disabled selected hidden>Selecciona idioma</option>
      <option value="espanol">Español</option>
      <option value="ingles">Inglés</option>
      <option value="frances">Francés</option>
    </select>
  </div>

  <div class="flex flex-col gap-2">
    <label
      for="text-field-hotel-viajeamedida"
      class="text-lg md:text-xl font-semibold">Categoría del Hotel</label
    >
    <select
      id="text-field-hotel-viajeamedida"
      name="hotel"
      required
      class="border outline-none p-3 rounded-lg border-gray-300 focus:border-[#226428]"
    >
      <option value="" disabled selected hidden>Selecciona categoría</option>
      <option value="dos-estrellas">2 Estrellas</option>
      <option value="tres-estrellas">3 Estrellas</option>
      <option value="cuatro-estrellas">4 Estrellas</option>
      <option value="cinco-estrellas">5 Estrellas</option>
    </select>
  </div>

  <div class="flex flex-col gap-2">
    <label
      for="text-field-transporte-viajeamedida"
      class="text-lg md:text-xl font-semibold">Transporte</label
    >
    <select
      id="text-field-transporte-viajeamedida"
      name="transporte"
      required
      class="border outline-none p-3 rounded-lg border-gray-300 focus:border-[#226428]"
    >
      <option value="" disabled selected hidden>Selecciona transporte</option>
      <option value="privado">Privado</option>
      <option value="publico">Publico</option>
    </select>
  </div>

  <div class="flex flex-col gap-2">
    <label
      for="text-field-presupuesto-viajeamedida"
      class="text-lg md:text-xl font-semibold"
      >Presupuesto estimado por persona en Euros</label
    >
    <input
      id="text-field-presupuesto-viajeamedida"
      type="number"
      name="presupuesto"
      min="1"
      max="10000"
      required
      class="border outline-none p-3 rounded-lg border-gray-300 focus:border-[#226428]"
      placeholder="Ingresa telefono..."
    />
  </div>

  <!-- <div class="flex flex-col gap-2">
    <label class="text-lg md:text-xl font-semibold">Intereses Especiales</label>
    <div class="flex flex-col gap-2">
      <div>
        <input
          type="checkbox"
          id="interes1"
          name="intereses"
          value="opcion1"
          required
          class="mr-2"
        />
        <label for="interes1">Opción 1</label>
      </div>
      <div>
        <input
          type="checkbox"
          id="interes2"
          name="intereses"
          value="opcion2"
          class="mr-2"
        />
        <label for="interes2">Opción 2</label>
      </div>
      <div>
        <input
          type="checkbox"
          id="interes3"
          name="intereses"
          value="opcion3"
          class="mr-2"
        />
        <label for="interes3">Opción 3</label>
      </div>
      <div>
        <input
          type="checkbox"
          id="interes4"
          name="intereses"
          value="opcion4"
          class="mr-2"
        />
        <label for="interes4">Opción 4</label>
      </div>
      <div>
        <input
          type="checkbox"
          id="interes5"
          name="intereses"
          value="opcion5"
          class="mr-2"
        />
        <label for="interes5">Opción 5</label>
      </div>
      <div>
        <input
          type="checkbox"
          id="interes6"
          name="intereses"
          value="opcion6"
          class="mr-2"
        />
        <label for="interes6">Opción 6</label>
      </div>
    </div>
  </div> -->

  <div class="flex flex-col gap-2">
    <label
      for="text-field-bolivia-viajeamedida"
      class="text-lg md:text-xl font-semibold">Bolivia</label
    >
    <select
      id="text-field-bolivia-viajeamedida"
      name="bolivia"
      required
      class="border outline-none p-3 rounded-lg border-gray-300 focus:border-[#226428]"
    >
      <option value="" disabled selected hidden>Selecciona tu respuesta</option>
      <option value="si">Si</option>
      <option value="no">No</option>
    </select>
  </div>

  <button
    type="submit"
    class="border-2 border-[#226428] bg-[#226428] p-2 w-40 text-white font-semibold text-xl hover:bg-white hover:text-[#226428] transition-colors"
    >Enviar</button
  >

  <div id="resultviajeamedida"></div>
</form>
<script>
  const form = document.getElementById("formviajeamedida");
  const result = document.getElementById("resultviajeamedida");

  form.addEventListener("submit", function (e) {
    e.preventDefault();

    //

    // Obtener valores de los campos
    const nombre = form.nombre.value.trim();
    const telefono = form.telefono.value.trim();
    const apellido = form.apellido.value.trim();
    // Validaciones
    const nombreRegex = /^[A-Za-z\s]{3,}$/;
    const apellidoRegex = /^[A-Za-z\s]{3,}$/;
    const telefonoRegex = /^[0-9]{7,}$/;

    if (!nombreRegex.test(nombre)) {
      result.innerHTML = `
        <p class="font-semibold italic text-red-500">
          El nombre debe tener al menos 3 caracteres y no contener números o símbolos.
        </p>`;
      return;
    }

    if (!apellidoRegex.test(apellido)) {
      result.innerHTML = `
        <p class="font-semibold italic text-red-500">
          El apellido debe tener al menos 3 caracteres y no contener números o símbolos.
        </p>`;
      return;
    }

    if (!telefonoRegex.test(telefono)) {
      result.innerHTML = `
        <p class="font-semibold italic text-red-500">
          El teléfono debe tener al menos 7 dígitos y solo puede contener números.
        </p>`;
      return;
    }

    //

    const formData = new FormData(form);
    const object = Object.fromEntries(formData);
    const json = JSON.stringify(object);
    result.innerHTML = `
        <p class="font-semibold italic">
          Espere por favor...
        </p>`;

    fetch("https://api.web3forms.com/submit", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
        Accept: "application/json",
      },
      body: json,
    })
      .then(async (response) => {
        let json = await response.json();
        if (response.status == 200) {
          result.innerHTML = `
        <p class="font-semibold italic text-green-500">
          Enviado correctamente!
        </p>`;
        } else {
          console.log(response);
          result.innerHTML = json.message;
        }
      })
      .catch((error) => {
        console.log(error);
        result.innerHTML = "¡Algo salió mal!";
      })
      .then(function () {
        form.reset();
        setTimeout(() => {
          result.style.display = "none";
        }, 3000);
      });
  });
</script>
