<div class="w-full max-w-[1000px] relative self-center">
  <div class="swiper progress-slide-carousel swiper-container relative">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <img
          src="/experiencias/Experiencias - Artesano.webp"
          alt="Descripción de la imagen 1"
          class="h-52 sm:h-[450px] object-cover object-top w-full"
          loading="lazy"
        />
      </div>
      <div class="swiper-slide">
        <img
          src="/experiencias/Experiencias - Cruz del Condor.webp"
          alt="Descripción de la imagen 1"
          class="h-52 sm:h-[450px] object-cover w-full"
          loading="lazy"
        />
      </div>
      <div class="swiper-slide">
        <img
          src="/experiencias/Experiencias - Plaza de Armas.webp"
          alt="Descripción de la imagen 1"
          class="h-52 sm:h-[450px] object-cover w-full"
          loading="lazy"
        />
      </div>
    </div>
    <div
      class="swiper-pagination !bottom-2 !top-auto !w-80 right-0 mx-auto bg-gray-100"
    >
    </div>
  </div>
</div>

<style>
  .swiper-wrapper {
    width: 100%;
    height: max-content !important;
    padding-bottom: 40px !important;
    -webkit-transition-timing-function: linear !important;
    transition-timing-function: linear !important;
    position: relative;
  }
  .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
    background: #226428 !important;
  }
</style>

<script>
  let swiper;

  function initializeSwiper() {
    swiper = new Swiper(".progress-slide-carousel", {
      loop: true,
      fraction: true,
      autoplay: {
        delay: 1200,
        disableOnInteraction: false,
      },
      pagination: {
        el: ".progress-slide-carousel .swiper-pagination",
        type: "progressbar",
      },
    });
  }

  initializeSwiper();

  window.addEventListener("astro:afterSwap", initializeSwiper);

  // Limpieza al desmontar
  window.addEventListener("astro:beforeSwap", () => {
    if (swiper) {
      swiper.destroy(true, true);
    }
  });
  // var swiper = new Swiper(".progress-slide-carousel", {
  //   loop: true,
  //   fraction: true,
  //   autoplay: {
  //     delay: 1200,
  //     disableOnInteraction: false,
  //   },
  //   pagination: {
  //     el: ".progress-slide-carousel .swiper-pagination",
  //     type: "progressbar",
  //   },
  // });
</script>
