---

---

<section
  class="relative inline-block w-full h-[300px] lg:h-[600px] before:content-[''] before:absolute before:w-full before:h-full before:bg-[black] before:opacity-50 before:pointer-events-none before:left-0 before:top-0"
>
  <img
    src="fondo-testimonio.webp"
    alt="Amazonas en bote"
    class="w-full h-full bg-cover object-center object-cover"
  />
  <div
    class="absolute w-full h-full flex gap-[100px] justify-center items-center text-[white] p-5 left-0 top-0"
  >
    <div class="text-center flex flex-col gap-5">
      <h3 class="text-3xl lg:text-6xl font-bold uppercase">Noticias</h3>
      <p class="text-xl lg:text-3xl">
        Aquí te mostraremos las ultimas novedades que realizamos.
      </p>
    </div>
  </div>
</section>
