---
import "../../styles/styles.css";
---

<section class="flex flex-col items-center gap-10 lg:gap-20 px-5 py-20">
  <h3 class="text-3xl md:text-6xl font-bold text-center uppercase">
    Certificados y miembro
  </h3>
  <div class="max-w-[1000px] w-full overflow-hidden relative">
    <div class="fade-overlay left-0"></div>
    <div class="fade-overlay right-0"></div>
    <div class="w-full inline-flex flex-nowrap relative group">
      <ul
        class="flex items-center [&_li]:mx-8 justify-center md:justify-start animate-infinite-scroll group-hover:paused"
      >
        <li class="w-20 h-20 sm:w-36 sm:h-36 flex items-center justify-center">
          <img
            src="/certificados/CIAP_logo.webp"
            alt="CIAP"
            class="object-contain"
          />
        </li>
        <li class="w-20 h-20 sm:w-36 sm:h-36 flex items-center justify-center">
          <img
            src="/certificados/APCER_logo.webp"
            alt="APCER"
            class="object-contain"
          />
        </li>
        <li class="w-20 h-20 sm:w-36 sm:h-36 flex items-center justify-center">
          <img
            src="/certificados/MINCETUR_logo.webp"
            alt="Mincetur"
            class="object-contain"
          />
        </li>
        <li class="w-20 h-20 sm:w-36 sm:h-36 flex items-center justify-center">
          <img
            src="/certificados/PERU_logo.webp"
            alt="Peru"
            class="object-contain"
          />
        </li>
        <li class="w-20 h-20 sm:w-36 sm:h-36 flex items-center justify-center">
          <img
            src="/certificados/TOURISM CONCERN_logo.webp"
            alt="Tourism Concern"
            class="object-contain"
          />
        </li>
        <li class="w-20 h-20 sm:w-36 sm:h-36 flex items-center justify-center">
          <img
            src="/certificados/PETIT FUTE_logo.webp"
            alt="Petit Fute"
            class="object-contain"
          />
        </li>
        <li class="w-20 h-20 sm:w-36 sm:h-36 flex items-center justify-center">
          <img
            src="/certificados/ATD_logo.webp"
            alt="ATD"
            class="object-contain"
          />
        </li>
      </ul>
      <ul
        class="flex items-center [&_li]:mx-8 justify-center md:justify-start animate-infinite-scroll group-hover:paused"
        aria-hidden="true"
      >
        <li class="w-20 h-20 sm:w-36 sm:h-36 flex items-center justify-center">
          <img
            src="/certificados/CIAP_logo.webp"
            alt="CIAP"
            class="object-contain"
          />
        </li>
        <li class="w-20 h-20 sm:w-36 sm:h-36 flex items-center justify-center">
          <img
            src="/certificados/APCER_logo.webp"
            alt="APCER"
            class="object-contain"
          />
        </li>
        <li class="w-20 h-20 sm:w-36 sm:h-36 flex items-center justify-center">
          <img
            src="/certificados/MINCETUR_logo.webp"
            alt="Mincetur"
            class="object-contain"
          />
        </li>
        <li class="w-20 h-20 sm:w-36 sm:h-36 flex items-center justify-center">
          <img
            src="/certificados/PERU_logo.webp"
            alt="Peru"
            class="object-contain"
          />
        </li>
        <li class="w-20 h-20 sm:w-36 sm:h-36 flex items-center justify-center">
          <img
            src="/certificados/TOURISM CONCERN_logo.webp"
            alt="Tourism Concern"
            class="object-contain"
          />
        </li>
        <li class="w-20 h-20 sm:w-36 sm:h-36 flex items-center justify-center">
          <img
            src="/certificados/PETIT FUTE_logo.webp"
            alt="Petit Fute"
            class="object-contain"
          />
        </li>
        <li class="w-20 h-20 sm:w-36 sm:h-36 flex items-center justify-center">
          <img
            src="/certificados/ATD_logo.webp"
            alt="ATD"
            class="object-contain"
          />
        </li>
      </ul>
    </div>
  </div>
</section>
