---
const { titulo, descripcion } = Astro.props;
---

<section class="flex flex-col gap-5 self-center w-full mt-20 mb-40">
  <h2 class="text-[32px] font-bold text-[#226428]">
    {titulo}
  </h2>
  <p class="text-base font-normal w-fit">
    {descripcion}
  </p>
</section>
