---

---

<footer
  class="bg-[#226428] text-white p-10 flex flex-col justify-center items-center"
>
  <section
    class="flex justify-between flex-wrap max-w-[1200PX] px-10 border-b-[1px] pb-10"
  >
    <article class="flex flex-col gap-7">
      <h4 class="text-2xl">Nuestra Empresa</h4>
      <ul class="flex flex-col gap-5 indent-5">
        <li class=""><a class="text-base text-white" href="/">Inicio</a></li>
        <li class=""><a class="text-base text-white" href="">Nosotros</a></li>
        <li class="">
          <a class="text-base text-white" href="/circuitos">Circuitos</a>
        </li>
        <li class="">
          <a class="text-base text-white" href="">Testimonios</a>
        </li>
        <li class=""><a class="text-base text-white" href="">Noticias</a></li>
        <li class=""><a class="text-base text-white" href="">Contacto</a></li>
      </ul>
    </article>

    <article class="flex flex-col gap-7">
      <h4 class="text-2xl">Nuestros Tours</h4>
      <ul class="flex flex-col gap-5 indent-5">
        <li class="">
          <a
            class="text-base text-white"
            href="/circuitos/a-lo-largo-de-los-andes">A lo largo de los Andes</a
          >
        </li>
        <li class="">
          <a class="text-base text-white" href="/circuitos/aventura-inca"
            >Aventura Inca</a
          >
        </li>
        <li class="">
          <a
            class="text-base text-white"
            href="/circuitos/del-pacifico-al-amazonas"
            >Del Pacífico al Amazonas</a
          >
        </li>
        <li class="">
          <a
            class="text-base text-white"
            href="/circuitos/corazon-del-imperio-inca"
            >Corazón del Imperio Inca</a
          >
        </li>
        <li class="">
          <a class="text-base text-white" href="/circuitos/esencia-del-peru"
            >Esencia del Perú</a
          >
        </li>
        <li class="">
          <a class="text-base text-white" href="/circuitos/panorama-peruano"
            >Panorama Peruano</a
          >
        </li>
        <li class="">
          <a class="text-base text-white" href="/circuitos/tesoros-del-norte"
            >Tesoros del Norte</a
          >
        </li>
      </ul>
    </article>

    <article class="flex flex-col gap-7">
      <h4 class="text-2xl">Otras Experiencias</h4>
      <ul class="flex flex-col gap-5 indent-5">
        <li class="">
          <a class="text-base text-white" href="/circuitos">Circuitos</a>
        </li>
        <li class=""><a class="text-base text-white" href="">Nosotros</a></li>
        <li class=""><a class="text-base text-white" href="/">Inicio</a></li>
        <li class="">
          <a class="text-base text-white" href="">Testimonios</a>
        </li>
        <li class=""><a class="text-base text-white" href="">Noticias</a></li>
        <li class=""><a class="text-base text-white" href="">Contacto</a></li>
      </ul>
    </article>

    <article class="flex flex-col gap-7">
      <h4 class="text-2xl">Contacto</h4>
      <ul class="flex flex-col gap-5 indent-5">
        <li class="">
          <a class="text-base text-white" href="">Central: +51 981 310 819</a>
        </li>
        <li class="">
          <a class="text-base text-white" href="">Whatsapp: +51 981 310 819</a>
        </li>
        <li class="">
          <a class="text-base text-white" href="">info@pachamamaturismo.org</a>
        </li>
        <li class="">
          <a class="text-base text-white" href=""
            ><p>Jr. Inca Garcilazo De La Vega 496,</p>
            <br /><p>San Martín de Porres</p></a
          >
        </li>
        <li class="self-center">
          <a class="text-base text-white flex flex-col items-center" href="">
            <img
              class="h-12"
              src="libro-reclamaciones.webp"
              alt="Libro de reclamaciones"
            />
            <p>Libro de reclamaciones</p>
          </a>
        </li>
      </ul>
    </article>
  </section>
  <section class="p-10">
    <article>
      <p class="">
        Copyright © 2024 Todos los derechos reservados / Pachamama Turismo
      </p>
    </article>
    <article class="">
      <a href=""><img src="" alt="" /></a>
      <a href=""><img src="" alt="" /></a>
      <a href=""><img src="" alt="" /></a>
      <a href=""><img src="" alt="" /></a>
      <a href=""><img src="" alt="" /></a>
    </article>
  </section>
</footer>
