---

---

<form method="POST" id="form" class="flex flex-col gap-5 w-[480px]">
  <input
    type="hidden"
    name="access_key"
    value="1028b022-e1af-4a36-85cc-f5434091106c"
  />
  <input type="hidden" name="form_name" value="Contacto Pachamama" />
  <input type="hidden" name="subject" value="Contacto" />
  <input type="checkbox" name="botcheck" id="" style="display: none;" />

  <!-- Custom Form Data -->
  <div class="flex flex-col gap-2">
    <label for="text-field-nombre" class="text-xl font-semibold">Nombre</label>
    <input
      id="text-field-nombre"
      type="text"
      name="name"
      required
      class="border outline-none p-3 rounded-lg border-gray-300 focus:border-[#226428]"
      placeholder="Ingresa nombre..."
    />
    <p class="text-gray-400 font-semibold italic">
      (Mín. 3 caracteres / no símbolos ni números)
    </p>
  </div>
  <div class="flex flex-col gap-2">
    <label for="text-field-correo" class="text-xl font-semibold">Correo</label>
    <input
      id="text-field-correo"
      type="email"
      name="email"
      required
      class="border outline-none p-3 rounded-lg border-gray-300 focus:border-[#226428]"
      placeholder="Ingresa correo..."
    />
  </div>

  <div class="flex flex-col gap-2">
    <label for="text-field-telefono" class="text-xl font-semibold"
      >Teléfono</label
    >
    <input
      id="text-field-telefono"
      type="tel"
      name="phone"
      required
      class="border outline-none p-3 rounded-lg border-gray-300 focus:border-[#226428]"
      placeholder="Ingresa telefono..."
    />
    <p class="text-gray-400 font-semibold italic">
      (Mín. 7 digitos / solo números)
    </p>
  </div>

  <div class="flex flex-col gap-2">
    <label for="text-field-mensaje" class="text-xl font-semibold">Mensaje</label
    >
    <textarea
      id="text-field-mensaje"
      name="message"
      required
      class="border outline-none p-3 rounded-lg border-gray-300 focus:border-[#226428] h-24 resize-none"
      placeholder="Ingresa mensaje..."></textarea>
    <p class="text-gray-400 font-semibold italic">(Mín. 4 caracteres)</p>
  </div>

  <button
    type="submit"
    class="border-2 border-[#226428] bg-[#226428] p-2 w-40 text-white font-semibold text-xl hover:bg-white hover:text-[#226428] transition-colors"
    >Enviar</button
  >

  <div id="result"></div>
</form>
<script>
  const form = document.getElementById("form");
  const result = document.getElementById("result");

  form.addEventListener("submit", function (e) {
    e.preventDefault();

    //

    // Obtener valores de los campos
    const name = form.name.value.trim();
    const phone = form.phone.value.trim();
    const message = form.message.value.trim();

    // Validaciones
    const nameRegex = /^[A-Za-z\s]{3,}$/;
    const phoneRegex = /^[0-9]{7,}$/;

    if (!nameRegex.test(name)) {
      result.innerHTML = `
      <p class="font-semibold italic text-red-500">
        El nombre debe tener al menos 3 caracteres y no contener números o símbolos.
      </p>`;
      return;
    }

    if (!phoneRegex.test(phone)) {
      result.innerHTML = `
      <p class="font-semibold italic text-red-500">
        El teléfono debe tener al menos 7 dígitos y solo puede contener números.
      </p>`;
      return;
    }

    if (message.length < 4) {
      result.innerHTML = `
      <p class="font-semibold italic text-red-500">
        El mensaje debe tener al menos 4 caracteres.
      </p>`;
      return;
    }

    //

    const formData = new FormData(form);
    const object = Object.fromEntries(formData);
    const json = JSON.stringify(object);
    result.innerHTML = `
      <p class="font-semibold italic">
        Espere por favor...
      </p>`;

    fetch("https://api.web3forms.com/submit", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
        Accept: "application/json",
      },
      body: json,
    })
      .then(async (response) => {
        let json = await response.json();
        if (response.status == 200) {
          result.innerHTML = `
      <p class="font-semibold italic text-green-500">
        Enviado correctamente!
      </p>`;
        } else {
          console.log(response);
          result.innerHTML = json.message;
        }
      })
      .catch((error) => {
        console.log(error);
        result.innerHTML = "¡Algo salió mal!";
      })
      .then(function () {
        form.reset();
        setTimeout(() => {
          result.style.display = "none";
        }, 3000);
      });
  });
</script>
