---

---

<header
  class="bg-[white] h-[70px] flex justify-center items-center gap-[220px] sticky z-[1] top-0"
>
  <a href="/">
    <img class="h-[50px]" src="/logo.webp" alt="Logo Pachamama Turismo" />
  </a>
  <div class="flex items-center gap-5">
    <ul class="flex gap-5">
      <li>
        <a class="text-[rgb(34,100,40)] text-base font-medium" href="/"
          >Inicio</a
        >
      </li>
      <li>
        <a class="text-[rgb(34,100,40)] text-base font-medium" href="/nosotros"
          >Nosotros</a
        >
      </li>
      <li>
        <a class="text-[rgb(34,100,40)] text-base font-medium" href="/circuitos"
          >Circuitos</a
        >
      </li>
      <li>
        <a
          class="text-[rgb(34,100,40)] text-base font-medium"
          href="/testimonios">Testimonios</a
        >
      </li>
      <li>
        <a class="text-[rgb(34,100,40)] text-base font-medium" href=""
          >Noticias</a
        >
      </li>
      <li>
        <a class="text-[rgb(34,100,40)] text-base font-medium" href=""
          >Contacto</a
        >
      </li>
    </ul>
    <div class="flex gap-2.5">
      <a href="">
        <img class="h-10" src="/españa.webp" alt="Bandera Española" />
      </a>
      <a href="">
        <img class="h-10" src="/francia.webp" alt="Bandera Francesa" />
      </a>
    </div>
  </div>
</header>
