---

---

<section class="relative w-full h-[800px]">
  <img
    class="animate-slidein300 w-full h-full bg-cover object-center object-cover"
    src="machu-picchu.webp"
    alt="Machu Picchu Maravilla del mundo"
  />
  <a
    class="animate-slidein700 absolute bg-[rgb(34,100,22)] text-[rgb(201,206,146)] text-[32px] px-5 py-2.5 right-[200px] bottom-[100px]"
    href="/circuitos">Ver circuitos</a
  >
</section>
