---

---

<section class="relative w-full h-[600px] md:h-[800px]">
  <img
    class="w-full h-full bg-cover object-center object-cover"
    src="machu-picchu.webp"
    alt="Machu Picchu Maravilla del mundo"
  />
  <a
    class="absolute bg-[#226428] text-white text-[32px] uppercase border-2 transition-colors font-semibold border-[#226428] hover:text-[#226428] hover:bg-white text-3xl px-5 py-2.5 w-max right-[50%] bottom-[50px] md:bottom-[100px] transform translate-x-1/2 text-center md:right-[380px]"
    href="/circuitos">Ver circuitos</a
  >
</section>
