---

---

<section
  class="flex flex-col gap-10 items-center py-20 px-5 max-w-[1000px] self-center"
>
  <article
    class="max-w-[600px] lg:max-w-[1000px] w-full flex flex-col lg:flex-row items-center gap-10 lg:gap-20"
  >
    <div class="flex flex-col gap-5 lg:gap-10">
      <h2 class="text-3xl lg:text-6xl font-bold text-center lg:text-start">
        ¿Quiénes somos Nosotros?
      </h2>
      <p
        class="text-lg lg:text-2xl font-medium text-center lg:text-start text-pretty"
      >
        Pachamama Turismo Alternativo es un operador local de viajes creado en
        el 2001 con la finalidad de promover un turismo responsable, sostenible
        y alternativo en Perú.
      </p>
      <p class="text-base font-bold text-center lg:text-start text-pretty">
        Pertenecemos a la familia CIAP, una organización de artesanos peruanos
        que apoya al comercio justo y la economía social.
      </p>
    </div>
    <img class="w-[500px] rounded-lg" src="/Nosotros.webp" alt="Nosotros" />
  </article>
  <article class="max-w-[600px] lg:max-w-[1000px] w-full">
    <p class="text-sm sm:text-base font-bold text-pretty">
      Pachamama considera la sostenibilidad económica como una base, la
      sostenibilidad social como principio ético y la sostenibilidad
      medioambiental (natural y cultural) como sustento de desarrollo turístico.
      Por ende, trabajamos en colaboración con las comunidades locales y los
      artesanos, fomentando su participación en proyectos de desarrollo
      sostenible. Así nuestros programas turísticos ofrecen a los viajeros no
      sólo la oportunidad de descubrir los atractivos turísticos tradicionales,
      sino sobre todo, queremos compartir las tareas cotidianas y las costumbres
      de las comunidades locales, respetando su cultura y preservando el medio
      ambiente; buscando involucrar al viajero responsable en el desarrollo
      local de nuestros pueblos. Nuestra empresa está ubicada en Lima donde se
      realiza la coordinación general a cargo de Pamela. Además, contamos con
      coordinadores locales en cada región del Perú: Lima; Puno; Arequipa;
      Cusco; Trujillo, Chiclayo y Cajamarca; Chachapoyas; y en Bolivia. Nuestra
      experiencia en el sector del turismo alternativo, nos permite adaptar los
      programas a sus deseos y poner a su disposición la logística necesaria
      para la organización de su viaje.
    </p>
  </article>
</section>
