---
const { circuito } = Astro.props;
---

<section
  class="flex flex-col gap-5 self-center w-full mt-6 mb-20 md:mb-40 md:mt-10"
>
  <h2
    class="text-center text-xl md:text-3xl font-bold text-[#226428] uppercase"
  >
    Itinerario Detallado
  </h2>
  {
    circuito.itinerario.map((dia) => (
      <>
        <h2 class="text-xl md:text-2xl font-medium text-black">
          Día {dia.dia}
        </h2>
        <p class="text-sm md:text-base uppercase font-black">
          {dia["titulo-actividades"]}
        </p>
        <p class="text-sm md:text-base font-normal text-pretty mb-3 md:mb-5">
          {dia.actividades}
        </p>
      </>
    ))
  }
</section>
