---
import "../styles/styles.css";
---

<!-- Logo Carousel animation -->
<section class="flex flex-col gap-20 px-20 py-40">
  <h3 class="text-6xl font-bold text-center uppercase">
    Certificados y miembro
  </h3>
  <div class="max-w-[1000px] mx-auto overflow-hidden relative">
    <div class="fade-overlay left-0"></div>
    <div class="fade-overlay right-0"></div>
    <div class="w-full inline-flex flex-nowrap relative group">
      <ul
        class="flex items-center justify-center md:justify-start [&_li]:mx-8 animate-infinite-scroll group-hover:paused"
      >
        <li class="w-36 h-36">
          <img
            src="https://pachamamaturismo.org/wp-content/uploads/2023/08/Cert1.webp"
            alt="Facebook"
            class="object-cover w-full h-full"
          />
        </li>
        <li class="w-36 h-36">
          <img
            src="https://pachamamaturismo.org/wp-content/uploads/2023/08/Cert2.webp"
            alt="Disney"
            class="object-cover w-full h-full"
          />
        </li>
        <li class="w-36 h-36">
          <img
            src="https://pachamamaturismo.org/wp-content/uploads/2023/08/Cert3.webp"
            alt="Airbnb"
            class="object-cover w-full h-full"
          />
        </li>
        <li class="w-36 h-36">
          <img
            src="https://pachamamaturismo.org/wp-content/uploads/2023/08/Cert4.webp"
            alt="Apple"
            class="object-cover w-full h-full"
          />
        </li>
        <li class="w-36 h-36">
          <img
            src="https://pachamamaturismo.org/wp-content/uploads/2023/08/Cert5.webp"
            alt="Spark"
            class="object-cover w-full h-full"
          />
        </li>
        <li class="w-36 h-36">
          <img
            src="https://pachamamaturismo.org/wp-content/uploads/2023/08/Cert6.webp"
            alt="Samsung"
            class="object-cover w-full h-full"
          />
        </li>
        <li class="w-36 h-36">
          <img
            src="https://pachamamaturismo.org/wp-content/uploads/2023/09/petit-fute-1024x891.webp"
            alt="Quora"
            class="w-full h-full"
          />
        </li>
      </ul>
      <ul
        class="flex items-center justify-center md:justify-start [&_li]:mx-8 animate-infinite-scroll group-hover:paused"
        aria-hidden="true"
      >
        <li class="w-36 h-36">
          <img
            src="https://pachamamaturismo.org/wp-content/uploads/2023/08/Cert1.webp"
            alt="Facebook"
            class="object-cover w-full h-full"
          />
        </li>
        <li class="w-36 h-36">
          <img
            src="https://pachamamaturismo.org/wp-content/uploads/2023/08/Cert2.webp"
            alt="Disney"
            class="object-cover w-full h-full"
          />
        </li>
        <li class="w-36 h-36">
          <img
            src="https://pachamamaturismo.org/wp-content/uploads/2023/08/Cert3.webp"
            alt="Airbnb"
            class="object-cover w-full h-full"
          />
        </li>
        <li class="w-36 h-36">
          <img
            src="https://pachamamaturismo.org/wp-content/uploads/2023/08/Cert4.webp"
            alt="Apple"
            class="object-cover w-full h-full"
          />
        </li>
        <li class="w-36 h-36">
          <img
            src="https://pachamamaturismo.org/wp-content/uploads/2023/08/Cert5.webp"
            alt="Spark"
            class="object-cover w-full h-full"
          />
        </li>
        <li class="w-36 h-36">
          <img
            src="https://pachamamaturismo.org/wp-content/uploads/2023/08/Cert6.webp"
            alt="Samsung"
            class="object-cover w-full h-full"
          />
        </li>
        <li class="w-36 h-36">
          <img
            src="https://pachamamaturismo.org/wp-content/uploads/2023/09/petit-fute-1024x891.webp"
            alt="Quora"
            class="w-full h-full"
          />
        </li>
      </ul>
      <ul
        class="flex items-center justify-center md:justify-start [&_li]:mx-8 animate-infinite-scroll group-hover:paused"
        aria-hidden="true"
      >
        <li class="w-36 h-36">
          <img
            src="https://pachamamaturismo.org/wp-content/uploads/2023/08/Cert1.webp"
            alt="Facebook"
            class="object-cover w-full h-full"
          />
        </li>
        <li class="w-36 h-36">
          <img
            src="https://pachamamaturismo.org/wp-content/uploads/2023/08/Cert2.webp"
            alt="Disney"
            class="object-cover w-full h-full"
          />
        </li>
        <li class="w-36 h-36">
          <img
            src="https://pachamamaturismo.org/wp-content/uploads/2023/08/Cert3.webp"
            alt="Airbnb"
            class="object-cover w-full h-full"
          />
        </li>
        <li class="w-36 h-36">
          <img
            src="https://pachamamaturismo.org/wp-content/uploads/2023/08/Cert4.webp"
            alt="Apple"
            class="object-cover w-full h-full"
          />
        </li>
        <li class="w-36 h-36">
          <img
            src="https://pachamamaturismo.org/wp-content/uploads/2023/08/Cert5.webp"
            alt="Spark"
            class="object-cover w-full h-full"
          />
        </li>
        <li class="w-36 h-36">
          <img
            src="https://pachamamaturismo.org/wp-content/uploads/2023/08/Cert6.webp"
            alt="Samsung"
            class="object-cover w-full h-full"
          />
        </li>
        <li class="w-36 h-36">
          <img
            src="https://pachamamaturismo.org/wp-content/uploads/2023/09/petit-fute-1024x891.webp"
            alt="Quora"
            class="w-full h-full"
          />
        </li>
      </ul>
    </div>
  </div>
</section>
<!-- End: Logo Carousel animation -->

<!-- <div class="flex overflow-hidden space-x-16">
  <div class="flex space-x-16 animate-loop-scroll">
    <img
      loading="lazy"
      src="https://pachamamaturismo.org/wp-content/uploads/2023/08/Cert1.webp"
      class="max-w-none"
      alt="Logo1"
    />
    <img
      loading="lazy"
      src="https://pachamamaturismo.org/wp-content/uploads/2023/08/Cert2.webp"
      class="max-w-none"
      alt="Logo1"
    />
    <img
      loading="lazy"
      src="https://pachamamaturismo.org/wp-content/uploads/2023/08/Cert3.webp"
      class="max-w-none"
      alt="Logo1"
    />
    <img
      loading="lazy"
      src="https://pachamamaturismo.org/wp-content/uploads/2023/08/Cert4.webp"
      class="max-w-none"
      alt="Logo1"
    />
    <img
      loading="lazy"
      src="https://pachamamaturismo.org/wp-content/uploads/2023/08/Cert5.webp"
      class="max-w-none"
      alt="Logo1"
    />
    <img
      loading="lazy"
      src="https://pachamamaturismo.org/wp-content/uploads/2023/08/Cert6.webp"
      class="max-w-none"
      alt="Logo1"
    />
    <img
      loading="lazy"
      src="https://pachamamaturismo.org/wp-content/uploads/2023/09/petit-fute-1024x891.webp"
      class="max-w-none"
      alt="Logo1"
    />
  </div>

  <div class="flex space-x-16 animate-loop-scroll" aria-hidden="true">
    <img
      loading="lazy"
      src="https://pachamamaturismo.org/wp-content/uploads/2023/08/Cert1.webp"
      class="max-w-none"
      alt="Logo1"
    />
    <img
      loading="lazy"
      src="https://pachamamaturismo.org/wp-content/uploads/2023/08/Cert2.webp"
      class="max-w-none"
      alt="Logo1"
    />
    <img
      loading="lazy"
      src="https://pachamamaturismo.org/wp-content/uploads/2023/08/Cert3.webp"
      class="max-w-none"
      alt="Logo1"
    />
    <img
      loading="lazy"
      src="https://pachamamaturismo.org/wp-content/uploads/2023/08/Cert4.webp"
      class="max-w-none"
      alt="Logo1"
    />
    <img
      loading="lazy"
      src="https://pachamamaturismo.org/wp-content/uploads/2023/08/Cert5.webp"
      class="max-w-none"
      alt="Logo1"
    />
    <img
      loading="lazy"
      src="https://pachamamaturismo.org/wp-content/uploads/2023/08/Cert6.webp"
      class="max-w-none"
      alt="Logo1"
    />
    <img
      loading="lazy"
      src="https://pachamamaturismo.org/wp-content/uploads/2023/09/petit-fute-1024x891.webp"
      class="max-w-none"
      alt="Logo1"
    />
  </div>
</div> -->
