---

---

<section class="relative w-full h-[1000px]">
  <div
    class="absolute inset-x-0 top-0 h-1/5 bg-gradient-to-b from-white to-transparent z-[1]"
  >
  </div>

  <img
    class="w-full h-full bg-cover object-center object-cover"
    src="/viaje-a-tu-medida.webp"
    alt="Machu Picchu Maravilla del mundo"
  />
  <div
    class="absolute flex flex-col gap-5 -translate-x-2/4 -translate-y-2/4 text-center text-[white] left-2/4 top-[30%]"
  >
    <h3 class="text-[64px] uppercase font-bold drop-shadow-xl">
      Viaja a tu medida
    </h3>
    <p class="text-2xl">
      Personaliza tu viaje y descubre destinos turísticos con el sello global de
      SAFE TRAVELS
    </p>
    <a
      class="bg-[rgb(34,100,22)] text-[rgb(201,206,146)] text-[28px] uppercase w-[300px] self-center px-5 py-2.5"
      href="">Más Información</a
    >
  </div>
</section>
